

:host{
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    color: #4e4e4e;
}

.buy{
    color:#3ed142;
}

.sell{
    color:#d13e3e;
}

.close{
    color:#383838;
}

.outter{
    display: block; 
    width:40px; 
    height: 40px;
    margin: 10px auto;
    position: relative;
}

.tooltip{
    position: absolute;
    border-radius: 4px;
    width: 62px;
    border: 1px solid #5a5a5a;
    background:  #262626ba;
    top: 0px;
    opacity: 0;
    transition: all 0.3s;
    padding: 4px 0;
    font-size: 12px;
    text-align: center;
}

.show-right {
    left: 35px;
}

.show-left {
    left: -55px;
}

.tooltip.show{
    opacity: 1;
}

.tooltip span{
    color:white;
    font-weight: 300;
}
