:host .global-container{
    margin-bottom: 76px;
}

.pagination-link{
    margin-top: 76px;
}

.blocked-content {
    height: 300px;
    position: absolute;
    z-index: 2;
    max-width: unset !important;
}