<div class="global-container">
    <div class="section-title">
        Hello
    </div>
    <div class="section-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<br>
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <top-experts *ngIf="advices && advices.length==0" [resultsLimit]=4 [hideFilters]=true [title]="'START FOLLOWING EXPERTS'"></top-experts>
    <div *ngIf="advices">
        <advice-card *ngFor="let advice of advices" [advice]="advice"></advice-card>
    </div>
    <div fxLayoutAlign="center center">
      <button [promiseBtn]="promise" class="pagination-link" *ngIf="hasMoreAdvices" (click)="loadMore()">
          LOAD MORE
      </button>
    </div>
</div>