<top-image *ngIf="canView()" [title]="getTopTitle()" [subtitle]="getTopText()" [urlImage]="getTopImage()"></top-image>
<div class="global-container">
    <top-experts *ngIf="canView() && (!advices || advices.length==0)" [resultsLimit]=4 [hideFilters]=true [title]="'START FOLLOWING EXPERTS'" [subtitle]="''"></top-experts>
    <div *ngIf="advices">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" class="global-container blocked-content" *ngIf="!canView()">
            <div class="lock-wrapper">
                <fa-icon icon="lock" size="2x" fxLayoutAlign="center stretch"></fa-icon>
            </div>
            <a style="color:white">Hold AUC</a>
        </div>
        <div [class.blur]="!canView()">
            <ng-container *ngFor="let advice of advices">
                <advice-card *ngIf="advice.advice" [adviceFeed]="advice"></advice-card>
            </ng-container>
        </div>
    </div>
    <div *ngIf="canView()" fxLayoutAlign="center center">
      <button [promiseBtn]="promise" class="pagination-link" *ngIf="hasMoreAdvices" (click)="loadMore()">
          LOAD MORE
      </button>
    </div>
</div>