:host{
    display: inline-flex;
    max-width: 389px;
    width: calc(100vw - 20px);
}
.recommendation-box{
    width:100%;
    background-color: #151515;
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top;
    margin: 5px;
}

.box-title{
    font-size: 34.5px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 1.7px;
    margin-top: 14px;
}

.box-title.buy{
    color: #3ed142;
    border-bottom: 2px solid #3ed142;
}

.box-title.sell{
    color: #d13e3e;
    border-bottom: 2px solid #d13e3e;
}

.box-title.close{
    color: #999999;
    border-bottom: 2px solid #989898;
}

.recommendation-table{
    text-align: left;
    font-family: 'Gilroy'
}

.recommendation-table .mat-header-row{
    height: 44px;
}

.recommendation-table th{
    background-color: #333333;
    color: #ffffff;
    font-size: 14.5px;
    padding-left: 20px;
}

.recommendation-table td{
    color: #ffffff;
    background-color: #000000;
    font-size: 8.5px;
    font-weight: 300;
    line-height: 2.06;
    letter-spacing: 0.2px;
    border-bottom: solid 0.2px #959595;
    padding: 14px 20px 11px;
}



.recommendation-table tr:last-child td{
    border-bottom: none;
}

.table-cell-title{
    font-size: 14.5px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.expert-rating{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-pack: center; */
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 4px 0;
    font-size: 11px;
}