<div class="recommendation-box-container">
  <div class="section-title">
    Expert Recommendations
  </div>
  <div class="section-subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="recommendation-list" fxLayout="row">
    <div class="recommendation-box" fxLayout="column">
      <h3>BUY</h3>
      <advice-card *ngFor="let advice of buyAdvices" class="advice-card" [advice]="advice"></advice-card>
    </div>
    <div class="recommendation-box" fxLayout="column">
      <h3>SELL</h3>
      <advice-card *ngFor="let advice of sellAdvices" class="advice-card" [advice]="advice"></advice-card>
    </div>
    <div class="recommendation-box" fxLayout="column">
      <h3>CLOSE POSITION</h3>
      <advice-card *ngFor="let advice of closePositionAdvices" class="advice-card" [advice]="advice"></advice-card>
    </div>
  </div>
  <div>
    <div class="access-button" (click)="accessRecommendations()">
      ACCESS
    </div>
  </div>
</div>