    <div class="recommendation-box" fxLayout="column">
      <div class="box-title" [class.buy]="adviceType=='BUY'" [class.sell]="adviceType=='SELL'" [class.close]="adviceType=='HOLD'">{{adviceType}}</div>
      <table mat-table [dataSource]="adviceList" class="recommendation-table">
        <ng-container matColumnDef="assetCode">
          <th mat-header-cell *matHeaderCellDef> Asset </th>
          <td mat-cell *matCellDef="let advice" (click)="goToAssetDetails(advice.assetId)" class="pointer"> 
            <div class="table-cell-title"><img [src]="getAssetImgUrl(advice.assetId)" ><span>{{advice.assetCode}}</span></div>{{advice.assetName}} 
          </td>
        </ng-container>      
        <ng-container matColumnDef="adviceType">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let advice"> <div class="table-cell-title">{{adviceType}}</div> 
            At price {{advice.assetValueAtAdviceTime | valueDisplay}} 
          </td>
        </ng-container>
      
        <ng-container matColumnDef="advisorName">
          <th mat-header-cell *matHeaderCellDef> Expert </th>
          <td mat-cell *matCellDef="let advice" (click)="goToExpertDetails(advice.advisorId)" class="pointer">
              <div class="expert-rating">
                <bar-rating [theme]="'fontawesome-o'" [readOnly]="'true'" [rate]="advice.advisorRating" [title]="advice.advisorRating | number: '1.2-2'"></bar-rating>
              </div>
            <span class="truncate" title="{{advice.advisorName}}">{{advice.advisorName}}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>