<div *ngIf="asset">
  <div class="expert-details-header global-container-min">
    <div class="global-container">
      <div class="section-title">
        EXPERT SIGNALS ON {{asset.name}}
      </div>
      <div fxLayout="column" fxLayoutGap="60px">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="36px" fxLayoutGap.lt-md="24px" fxLayoutAlign.gt-sm="center center" fxLayoutAlign.lt-md="center center">
          <div fxLayout="row" fxLayoutGap="36px">
            <div fxLayout="row" fxLayoutGap="10px">
              <div class="asset-icon">
                <img [src]="getAssetImgUrl()" onload="this.style.display='unset'" onerror="this.style.display='none'" onload="this.style.display='unset'"/>
              </div>
              <div fxLayout="column">
                <div class="symbol">{{asset.code}}</div>
                <div class="asset-name">{{asset.name}}</div>
              </div>
            </div>
            <div fxLayout="column">
              <div class="recommendations">
                {{getTotalAdvisorsSentence()}}
              </div>
              <div class="followers">
                {{getFollowersSentence()}}
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="36px">
            <div fxHide.lt-sm class="asset-price">
              {{asset.lastValue | valueDisplay}}
            </div>
            <div fxLayout="column">
              <percentage-display [value]="asset.variation24h"></percentage-display>
              Last 24 hours
            </div>
            <div fxLayout="column">
              <percentage-display [value]="asset.variation7d"></percentage-display>
              Last 7 days
            </div>
            <div fxLayout="column">
              <percentage-display [value]="asset.variation30d"></percentage-display>
              Last 30 days
            </div>
          </div>
          <div fxHide.gt-xs class="asset-price">
            {{asset.lastValue | valueDisplay}}
          </div>
          <div class="white-button action-button-sm" [promiseBtn]="promise" *ngIf="asset.following" (click)="onUnfollowAssetClick()">
            Unfollow
          </div>
          <div class="blue-button action-button-sm" [promiseBtn]="promise" *ngIf="!asset.following" (click)="onFollowAssetClick()">
            Follow
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group class="global-container-min">
      <mat-tab label="Summary">
        <summary-tab [asset]="asset"></summary-tab>
      </mat-tab>
      <mat-tab label="Signals"> 
        <expert-ratings-tab [asset]="asset"></expert-ratings-tab>
      </mat-tab>
      <mat-tab label="Reports"> 
        <reports-tab [reports]="asset.reports"></reports-tab>
      </mat-tab>
      <mat-tab label="Events"> 
        <events-tab [events]="asset.events"></events-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<trending-assets class="global-container-min inverted"></trending-assets>