<div *ngIf="!!asset" class="asset-details">
  <div class="asset-header" fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="10px">
      <img class="asset-image asset-img" [src]="getAssetImgUrl(asset.assetId)" onerror="this.style.display='none'" onload="this.style.display='unset'" />
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1px">
        <div class="asset-code">{{asset.code}}</div>
        <div class="asset-name">{{asset.name}}</div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="center center">
      <ticker-field class="price" [startValue]="asset.lastValue" [pair]="asset.pair" (onNewValue)="onNewLastValue($event, asset)"></ticker-field>
      <div fxLayout="row">
        <label class="bid-ask-label">Bid/Ask:</label>
        <ticker-field class="bid-ask-price" tickerProperty="bestBidPrice" tickerToMultiplierProperty="bestBidPrice" [startValue]="asset.bidValue" [pair]="asset.pair"></ticker-field>
        <span class="bid-ask-price">/</span>
        <ticker-field class="bid-ask-price" tickerProperty="bestAskPrice" tickerToMultiplierProperty="bestAskPrice" [startValue]="asset.askValue" [pair]="asset.pair"></ticker-field>
      </div>
    </div>
    <ticker-percentage-field class="percentage" [startValue]="asset.variation24h" [pair]="asset.pair"></ticker-percentage-field>
    <div class="market-cap" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1px">
      <label class="asset-header-label">Market Cap</label>
      <span *ngIf="!asset.circulatingSupply">-</span>
      <ticker-field *ngIf="asset.circulatingSupply" [valueMultiplier]="asset.circulatingSupply" [startValue]="asset.lastValue * asset.circulatingSupply" [pair]="asset.pair"></ticker-field>
    </div>
    <div class="high-low" fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1px">
        <label class="asset-header-label">24h High / Low</label>
        <div fxLayout="row" fxLayoutGap="3px">
          <ticker-field tickerProperty="highPrice" [pair]="asset.pair"></ticker-field>
          <span>/</span>
          <ticker-field tickerProperty="lowPrice" [pair]="asset.pair"></ticker-field>
        </div>
    </div>          
    <recommendation-distribution [data]="asset.recommendationDistribution"></recommendation-distribution>
    <follow-unfollow [(following)]="asset.following" [numberOfFollowers]="asset.numberOfFollowers" [(id)]="asset.assetId" [type]="assetFollowUnfollowType"></follow-unfollow>
  </div>
  <div fxHide.gt-sm class="asset-header-mobile" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="width100 header-mobile-row">
      <div fxLayout="row" fxLayoutGap="10px">
        <img class="asset-image asset-img" [src]="getAssetImgUrl(asset.assetId)" onerror="this.style.display='none'" onload="this.style.display='unset'" />
        <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1px">
          <div class="asset-code">{{asset.code}}</div>
          <div class="asset-name">{{asset.name}}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="3px">
          <ticker-field class="mobile-price" [startValue]="asset.lastValue" [pair]="asset.pair"></ticker-field>
          <ticker-percentage-field class="percentage mobile-value" [startValue]="asset.variation24h" [pair]="asset.pair"></ticker-percentage-field>
        <div fxLayout="row" fxLayoutGap="3px">
          <label class="bid-ask-label">Bid/Ask:</label>
          <ticker-field class="bid-ask-price" tickerProperty="bestBidPrice" tickerToMultiplierProperty="bestBidPrice" [startValue]="asset.bidValue" [pair]="asset.pair"></ticker-field>
          <span class="bid-ask-price">/</span>
          <ticker-field class="bid-ask-price" tickerProperty="bestAskPrice" tickerToMultiplierProperty="bestAskPrice" [startValue]="asset.askValue" [pair]="asset.pair"></ticker-field>
        </div>
      </div>
      <follow-unfollow [(following)]="asset.following" [numberOfFollowers]="asset.numberOfFollowers" [(id)]="asset.assetId" [type]="assetFollowUnfollowType"></follow-unfollow>
    </div>
    <div class="header-separator"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header-mobile-row" fxLayoutGap="10px" *ngIf="logged" fxHide.gt-sm>
    <div matRipple class="table-button blue" (click)="onNewTrade(asset)">TRADE</div>
    <button matRipple *ngIf="showCancelOpenOrders()" (click)="cancelAllOpenOrders()" class="cancel-close-action">CANCEL ALL {{asset.code}} OPEN ORDERS</button>   
    <button matRipple *ngIf="showCloseOpenPositions()" (click)="closeAllOpenPositions(asset.assetId, asset.code)" class="cancel-close-action">CLOSE ALL {{asset.code}} POSITIONS</button>
  </div>
  <div class="asset-content" ngClass.gt-sm="asset-content-web" ngClass.lt-md="asset-content-mobile">
    <div fxLayout="row" fxLayoutAlign="start center" *ngIf="showChartPriceAlert()" class="alert-chart-price">
      <span matTooltip="Some currencies are not available for trading directly through a USD pair on Binance, so the price is calculated. TradingView uses a different BTC/USD price than the respective Binance price, so the final price shown is slightly different.">[!] The rates displayed on TradingView chart are using a different conversion rate</span>
    </div>
    <div class="asset-chart">
      <trading-view-chart [pair]="asset.pair"></trading-view-chart>
    </div>
    <div fxLayout="row" fxLayoutGap="5px">
      <div class="trade-tab" fxHide.lt-md>
        <new-trade class="width100" [asset]="asset"></new-trade>
      </div>
      <div class="positions-tab">
        <order-position-tab #OrderTab class="width100" [asset]="asset"></order-position-tab>
      </div>
    </div>
  </div>
</div>