.expert-details-header{
    background-color: #1c1c1c;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 54px;
    padding-top: 34px;
    min-width: 100%;
}

.symbol{
    font-size:26px;
}

.recommendations{
    font-size: 19.5px;
    font-weight: 500;
    color: #126efd;
}

.followers{
    font-size: 16.5px;
    font-weight: 100;
    font-style: italic;
    color: #f3f3f3;
}

.general-recommendation-box{
    background-color:#2c2c2d;
    padding: 28px;
    width: 267px;
}

.assets-table.mat-table{
    background: transparent;
}

.assets-table th{
    background:#252525;
}

.assets-table .mat-column-recommendation div{
    width: 99px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin: auto;
}

.assets-table .mat-column-value div{
    font-size: 16px;
}

.assets-table{
    margin-top: 46px;
    margin-bottom: 76px;
}

.pagination-link{
    margin-bottom: 76px;
}

.element-row{
    cursor: pointer;
}

.assets-table .white-button,
.assets-table .blue-button{
    margin: auto;
}

.mat-column-expertName{
    padding-top: 5px;
    padding-bottom: 5px;
}

.section-title {
    margin-bottom: 36px;
}

.asset-price {
    font-size: 25px;
}
