.expert-details-header{
    background-color: #1c1c1c;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-top: 34px;
    min-width: 100%;
}

.symbol{
    font-size:26px;
}

.recommendations{
    font-size: 19.5px;
    font-weight: 500;
    color: #126efd;
}

.followers{
    font-size: 16.5px;
    font-weight: 100;
    font-style: italic;
    color: #f3f3f3;
}


:host ::ng-deep .assets-table.mat-table{
    background: transparent;
}

:host ::ng-deep .assets-table th{
    background:#252525;
}

:host ::ng-deep .assets-table .mat-column-recommendation div{
    width: 99px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin: auto;
}

:host ::ng-deep .assets-table .mat-column-value div{
    font-size: 16px;
}

:host ::ng-deep .assets-table{
    margin-top: 46px;
    margin-bottom: 76px;
}

.pagination-link{
    margin-bottom: 76px;
}

.element-row{
    cursor: pointer;
}

:host ::ng-deep .assets-table .white-button,
:host ::ng-deep .assets-table .blue-button{
    margin: auto;
}

.section-title {
    margin-bottom: 36px;
}

.asset-price {
    font-size: 25px;
    min-width: 110px; 
}

:host ::ng-deep .mat-tab-list{
    max-width: 1168px;
    margin: auto;
    flex-grow: unset;
}

:host ::ng-deep .mat-tab-label-container{
    border-bottom: solid 1px #FFFFFF99;
    overflow: unset;
}

:host ::ng-deep .mat-tab-label{
    background: #262626;
    color: white;
    opacity: 1;
    min-width: 160px !important;
    margin: 0px 2px;
}

:host ::ng-deep .mat-tab-label-active{
    background: #151515;
    border-top: solid 1px #ffffff99;
    border-left: solid 1px #ffffff99;
    border-right: solid 1px #ffffff99;
}

:host ::ng-deep .mat-ink-bar{
    background-color: #151515 !important;
    bottom:-1px;
    border-left: 1px solid #ffffff99;
    border-right: 1px solid #ffffff99;
    width: 158px !important;
}

:host ::ng-deep .mat-tab-header{
    border-bottom: unset;
}

:host ::ng-deep .mat-tab-body-content{
    overflow-y: hidden;
}

mat-tab-group{
    margin-top: 40px;
}

:host ::ng-deep .mat-tab-body-wrapper{
    background-color: #151515;
}

@media(max-width:959px){
    :host ::ng-deep .mat-tab-label{
        min-width: 74px !important;
        padding: 0px 6px !important;;
    }

    :host ::ng-deep .mat-ink-bar{
        width: 72px !important;
    }
}