#top-loading{
    left: 0;
    width: 100%;
    top: 0;
    height: 3px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #4878fc;
}

::ng-deep .mat-progress-bar-buffer {
    background: #51b1fd;
}

::ng-deep .mat-progress-bar {
    border-radius: 1px;
}