
.mat-column-expertName{
    padding-top: 5px;
    padding-bottom: 5px;
}
/* 
@media (min-width: 960px) {
    .expert-rating{
        display: flex !important;
    }
} */

.advice-parameters {
    font-size: 9px;
    font-style: italic;
    line-height: 10px;
}

:host tr.mat-footer-row, tr.mat-row {
    height: 60px;
}

.advice-data-div {
    min-width: 115px;
}

.advisor-link{
    cursor: pointer;
}

.assets-table .mat-column-currentReturn{
    min-width: 85px;
}

