<mat-tab-group class="trade-tab-group border-tabs" *ngIf="logged">
    <mat-tab> 
        <ng-template mat-tab-label>LIMIT</ng-template>
        <set-trade #Limit *ngIf="!!asset" [limit]="true" [assetId]="asset.assetId" [assetCode]="asset.code" [assetPair]="asset.pair" [shortSellingEnabled]="asset.shortSellingEnabled" (orderCreated)="onOrderCreated()"></set-trade> 
    </mat-tab>
    <mat-tab>  
        <ng-template mat-tab-label>MARKET</ng-template>
        <set-trade #Market *ngIf="!!asset" [limit]="false" [assetId]="asset.assetId" [assetCode]="asset.code" [assetPair]="asset.pair" [shortSellingEnabled]="asset.shortSellingEnabled" (orderCreated)="onOrderCreated()"></set-trade> 
    </mat-tab>
</mat-tab-group>

