<div class="text-right">
    <button class="modal-close" [mat-dialog-close]="false" mat-dialog-close>&times;</button>
</div>
<div fxLayout="column" fxLayoutAlign="start center" class="modal-container">
    <mat-dialog-content class="modal-content">
        <h2>{{getTitle()}}</h2>
        <set-trade #Limit [limit]="true" [edition]="true" [order]="order" (orderCreated)="onOrderCreated()"></set-trade> 
    </mat-dialog-content>
    <mat-dialog-actions class="btn-actions" fxLayoutGap="20px">
        <button class="table-button link" [mat-dialog-close]="false" mat-dialog-close>CANCEL</button>
        <button [promiseBtn]="promise" class="table-button blue" (click)="onConfirm()">UPDATE</button>
    </mat-dialog-actions>
</div>