<!-- <div fxLayout="column" fxLayoutAlign="space-evenly center">
    <inheritance-input #Wallet [options]="getWalletOptions()" [value]="wallet" class="input-modal"></inheritance-input>
    <a class="modal-link" (click)="setNewWallet()">Set a new wallet</a>
</div> -->
<div class="div-separation" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
  <p class="subtitle">Receive an email notification when a new signal is emitted by some expert or asset that you are following.</p>
    <mat-checkbox required [(ngModel)]="configurationRequest.allowNotifications">Allow notifications</mat-checkbox>
</div>
<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <button class="btn-save btn-modal mat-primary" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" mat-flat-button (click)="save()" [promiseBtn]="promise">Save</button>
</div>
