
.footer-item-title{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
}

.footer-item{
    margin-top: 17px;
}

.footer-container .landing-logo{
    margin-top: 8px;
}

.hotsite-footer .separator{
    margin-bottom: 18px;
    height: 1px;
    background-color: #363636;
    width: 100%;
}



.social-icon-wrapper{
    width: 34px;
    height: 34px;
    border-radius: 22px;
    border: solid 1px #303030;
    margin: 17px 17px 17px 0;
}

.social-icon-wrapper fa-icon{
    margin-top:9px;
    margin-bottom:9px;
}

a{
    color: inherit;
    text-decoration: inherit;
}