<div fxLayout="column"  [ngClass]="getCardColorClass()">
  <div class="card-container" (click)="seeAllRatingsClick()">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="left center">
        <div class="asset-icon" fxFlex="50px">
          <img [src]="getAssetImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'"/>
        </div>
        <div fxLayout="column">
          <div class="asset-code">
            {{asset.code}}
          </div>
          <div class="asset-name">
            {{asset.name}}
          </div>
        </div>
      </div>
      <div fxLayout="column">
        <ticker-field class="asset-price" [startValue]="asset.lastValue" [pair]="asset.pair"></ticker-field>
        <ticker-percentage-field [startValue]="asset.variation24h" [pair]="asset.pair"></ticker-percentage-field>
      </div>
    </div>
    <div class="separator"></div>
    <div class="general-recommendation">
      {{getGeneralRecommendation()}}
    </div>
    <div class="ratings-distribution" fxLayout="row">
      <recommendation-distribution [data]="asset.recommendationDistribution"></recommendation-distribution>
    </div>
  </div>  
  <div class="follow-link unfollow" [promiseBtn]="promise" *ngIf="asset.following" (click)="onUnfollowClick()"  fxLayout="row" fxLayoutAlign="center center">
      <span>UNFOLLOW</span>
  </div>
  <div class="follow-link" [promiseBtn]="promise" *ngIf="!asset.following" (click)="onFollowClick()"  fxLayout="row" fxLayoutAlign="center center">
      <span>FOLLOW</span>
  </div>
</div>