:host{
    max-width: 369px;
    width: calc(100% - 20px);
    padding: 16px 0;
    background-color: #151515;
    display: inline-flex;
    margin: 10px;
    vertical-align: top;
    color: #FFFFFF;
}

:host > div,
.card-container{
    width: 100%;
}

.card-container > div{
    margin-left: 16px;
    margin-right: 16px;
}

.card-container{
    cursor: pointer;
}

.asset-code{
    font-size: 23px;
    font-weight: 600;
    text-align: left;
}

.asset-name{
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}

.asset-price{
    font-size: 25px;
    text-align: right;
}

.general-recommendation{
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    margin-top:12px;
    margin-bottom:8px;
}

.green .general-recommendation{
    color: #3ed142;
}

.red .general-recommendation{
    color: #d13e3e;
}

.separator{
    margin-top: 12px;
    border-bottom: solid 0.5px #3b3b3b;
}

.green .separator{
    border-bottom: solid 0.5px #37b63b;
}

.red .separator{
    border-bottom: solid 0.5px #d13e3e;
}

.ratings-distribution{
    background-color: #333333;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.follow-link{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: #e6e6e6;
    text-decoration: underline;
    cursor: pointer;
}

percentage-display{
    font-size: 13px;
    text-align: right;
}