:host{
    color: white;
    font-size: 19.5px;
    font-weight: 300;
    padding-bottom: 12px; 
    margin-bottom: 16px;
    border-bottom: solid 1px #ffffff99;
    display: block;
}

.agency-picture{
    position: relative;    
    background-color: white;
    cursor: pointer;
}

.agency-picture,
.agency-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.agency-name{
    width: calc(100vh - 20px);
    max-width: 260px;
}

@media(min-width: 960px){
    .agency-name{
        width: 260px;
    }
}


.follow-btn{
    margin-left: 40px;
}

@media(max-width: 599px){
    .agency-name,
    .asset-code-name,
    .asset-name{
        text-align: center;
    }

    .follow-btn{
        margin-left: auto;
        margin-right: auto;
    }
}

.expert-name-column{
    cursor: pointer;
}

.asset-column{
    width: 200px;
    cursor: pointer;
}

.asset-code-name,
.asset-name{
    width: 160px;
}

.asset-name{
    font-size: 14px;
}

.asset-icon{
    margin-right: 12px;
}

.asset-icon,
.asset-icon img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.download-link{
    text-align: center;
    font-size: 14.5px;
    color: #07d0ff;
    margin-top: 8px;
}


.download-column{
    width: 168px;
}

.advice-time{
    width: 140px;
}

.desc-label{
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}

.rate-column,
.score-column{
    text-align: center;
}

@media(max-width:959px){
    .score-colum .desc-label{
        margin-bottom: 0px;
    }
}

.rate{
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.score{
    font-size: 16px;
}
