

.desc-label{
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}

.rate-column,
.score-column{
    text-align: center;
}

@media(max-width:959px){
    .score-colum .desc-label{
        margin-bottom: 0px;
    }
}

.rate{
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.score{
    font-size: 16px;
}
