<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="header">{{headerFirstMessage}}</div>
    <div class="subtitle" *ngIf="headerSecondMessage.length > 0">{{headerSecondMessage}}</div>
</div>
<div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="50px">
   
    <div *ngIf="!isLogin()" class="registration-description" fxLayout="column" fxFlex="250px" fxLayoutGap="12px" fxHide.lt-md>
        <div>
            By becoming a user you get the following advantages:
        </div>
        <ul>
            <li>Compete for real prizes.</li>
            <li>Professional trading journal.</li>
            <li>Charts powered by TradingView.</li>
            <li>Real time Cryptocurrency Trading Simulator.</li>
            <li>Market Sentiment tools.</li>
        </ul>
    </div>
    <div *ngIf="!isLogin()" class="separator" fxHide.lt-md></div>
    <div fxLayout="column" fxFlex="265px">
        <div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
            <div class="social-media-button" (click)="socialEntry('facebook')"><fa-icon [icon]="['fab','facebook-f']" size="2x" fxLayoutAlign="center stretch"></fa-icon><span>Continue with Facebook</span></div>
            <div class="social-media-button" (click)="socialEntry('google')"><fa-icon [icon]="['fab','google']" size="2x" fxLayoutAlign="center stretch"></fa-icon><span>Continue with Google</span></div> 
            <p>or</p>
            <button class="large mat-primary" mat-flat-button (click)="emailClick()">{{emailButtonMessage}}</button> 
        </div>
        <div class="div-padding-bottom links-container" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
            <div>
                Forgot password? <a class="modal-link" (click)="onForgotPasswordClick()">Click here</a>
            </div>
            <div *ngIf="!isLogin()">
                I have an account. <a class="modal-link" (click)="onLoginClick()">Go to login</a>
            </div>
            <div *ngIf="isLogin()">
                I don't have an account. <a class="modal-link" (click)="onSignUpClick()">Go to sign up</a>
            </div>
        </div>
    </div>
</div>