<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <p class="header">{{headerFirstMessage}}<br *ngIf="headerSecondMessage.length > 0" />{{headerSecondMessage}}</p>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
    <div class="social-media-button" (click)="socialEntry('facebook')"><fa-icon [icon]="['fab','facebook-f']" size="2x" fxLayoutAlign="center stretch"></fa-icon><span>Continue with Facebook</span></div>
    <div class="social-media-button" (click)="socialEntry('facebook')"><fa-icon [icon]="['fab','google']" size="2x" fxLayoutAlign="center stretch"></fa-icon><span>Continue with Google</span></div> 
    <p>or</p>
    <button class="large" mat-flat-button (click)="emailClick()">{{emailButtonMessage}}</button> 
</div>
<div class="div-padding-bottom links-container" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
    <div>
        Forgot password? <a class="modal-link" (click)="onForgotPasswordClick()">Click here</a>
    </div>
    <div *ngIf="!isLogin()">
        I have an account. <a class="modal-link" (click)="onLoginClick()">Go to login</a>
    </div>
    <div *ngIf="isLogin()">
        I don't have an account. <a class="modal-link" (click)="onSignUpClick()">Go to sign up</a>
    </div>
</div>
    