<div class="hotsite-header">
  <div class="global-container header-container" fxLayout="row" fxLayoutAlign="space-between center">
    <img [src]="getLogoImgUrl()" routerLink="" class="landing-logo" />
    <div class="hotsite-header-itens" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <a class="hotsite-header-item" routerLink="/hotsite" routerLinkActive="active"><span>HOME</span></a>
      </div>
      <div>
        <a class="hotsite-header-item" href="https://auctus.org" target="_blank"><span>ABOUT US</span></a>
      </div>
      <div class="be-an-expert" routerLink="/expert" routerLinkActive="active">
        <a class="hotsite-header-item"><span>BE AN EXPERT</span></a>
      </div>
    </div>
    <div class="hotsite-header-icons" fxLayout="row" fxLayoutAlign="center center">
      <a href="https://www.facebook.com/AuctusProject/" target="_blank">
        <div class="social-icon-wrapper">
          <fa-icon [icon]="['fab','facebook-f']"  fxLayoutAlign="center stretch"></fa-icon>
        </div>
      </a>
      <a href="https://twitter.com/AuctusProject" target="_blank">
        <div class="social-icon-wrapper">
          <fa-icon [icon]="['fab','twitter']"  fxLayoutAlign="center stretch"></fa-icon>
        </div>
      </a>
      <a href="https://t.me/AuctusProject" target="_blank">
        <div class="social-icon-wrapper">
          <fa-icon [icon]="['fab','telegram-plane']"  fxLayoutAlign="center stretch"></fa-icon>
        </div>
      </a>
    </div>
  </div>
</div>