<div class="recommendation-box-container">
  <div class="section-title">
    Expert Recommendations
  </div>
  <div class="section-subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
  <div class="recommendation-list" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center top" fxLayoutAlign.xs="center center">
    <recommendation-box [adviceType]="'BUY'" [adviceList]="buyAdvices"></recommendation-box>
    <recommendation-box [adviceType]="'SELL'" [adviceList]="sellAdvices"></recommendation-box>
    <recommendation-box [adviceType]="'CLOSE POSITION'" [adviceList]="closePositionAdvices"></recommendation-box>
  </div>
  <div>
    <div class="access-button" (click)="accessRecommendations()">
      ACCESS
    </div>
  </div>
</div>