.recommendation-box-container {
    background-color: #d5d5d5;
    display: grid;
}

.recommendation-list{
    text-align: center;
}

.access-button{
    margin: 38px auto;
    width: 132px;
    height: 32px;
    line-height: 32px;
    background-color: #ffffff;
    border: solid 0.5px #707070;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: #2e2e2e;
    cursor: pointer;
}