<div class="global-container">
  <div class="section-title">
    Expert Ratings
  </div>
  <div class="section-subtitle">
    Latest analyst ratings on cryptocurrencies
  </div>
  <div class="recommendation-list" fxHide.lt-md>
    <recommendation-box  [adviceType]="'BUY'" [adviceList]="buyAdvices"></recommendation-box>
    <recommendation-box fxHide.lt-md [adviceType]="'SELL'" [adviceList]="sellAdvices"></recommendation-box>
    <recommendation-box fxHide.lt-md [adviceType]="'CLOSE'" [adviceList]="closePositionAdvices"></recommendation-box>  
  </div>
  <div class="recommendation-list" fxHide.gt-sm>
      <owl-carousel 
      [options]="{items: 1, dots: true, navigation: false}"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <recommendation-box [adviceType]="'BUY'" [adviceList]="buyAdvices"></recommendation-box>
        <recommendation-box [adviceType]="'SELL'" [adviceList]="sellAdvices"></recommendation-box>
        <recommendation-box [adviceType]="'CLOSE'" [adviceList]="closePositionAdvices"></recommendation-box>
      </owl-carousel>
  </div>
  <div>
    <div class="blue-button access-button" (click)="goToTopAssets()">
      SEE MORE
    </div>
  </div>
</div>