<hotsite-header></hotsite-header>
<div ngClass.gt-sm="global-container">
  <div class="hotsite-title">An investment platform made for the digital age</div>
  <div class="hot-site-image-div">
    <img fxHide.lt-md class="hot-site-image" src="./assets/img/Img_Banner.png">
  </div>
</div>
<div class="early-access">
  <div class="global-container" fxLayout="row" fxLayoutGap="16px">
    <img class="hot-site-phone-image" src.gt-sm="./assets/img/Img_Mobile.png" src.lt-md="./assets/img/Img_Mobile2.png">
    <div fxLayout="column" class="early-access-content">
      <div class="early-access-description">Follow your favorite expert by tracking their performance and learn trading fundamentals, all while staying in control of your funds.</div>
      <div class="early-access-title">Sign up for early access</div>
      <div fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutGap.gt-sm="20px" fxLayoutGap.lt-md="5px">
        <inheritance-input #Referral [options]="getEmailInputOptions()" [value]="earlyAccessRequest.email" (onChange)="earlyAccessRequest.email = $event" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web" ></inheritance-input>
        <div class="send-button" (click)="sendEarlyAccessRequest()" [promiseBtn]="promise">Send</div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="global-container" fxLayout="column" fxLayoutGap="16px">
    <div class="itens" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="50px" fxLayoutAlign.gt-sm="center start" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center"  >
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="icon-wrapper" fxLayoutAlign="center center"><img src="./assets/img/Icon_Graph.png"></div>
        <div class="item-title">Crypto Analysts Recommendation</div>
        <div class="item-description">Recommendations from experts and cryptocurrencies that you are following.</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="icon-wrapper" fxLayoutAlign="center center"><img src="./assets/img/Icon_Podium.png"></div>
        <div class="item-title">Transparent and Trustful Ranking</div>
        <div class="item-description">With our ranking system, you’ll be able to choose the right Expert by tracking all their trading performance.</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="icon-wrapper" fxLayoutAlign="center center"><img src="./assets/img/Icon_Lock.png"></div>
        <div class="item-title">No Token Holding Period or Locking</div>
        <div class="item-description">Spend your tokens or cash out anytime you want!</div>
      </div>
      <div class="separator" fxHide.gt-sm="true"></div>
    </div>
  </div>
  <div class="referral-section">
    <div ngClass.gt-sm="global-container">
      <div class="referral-title">
          Help us, we help you
      </div>
      <div class="referral-subtitle">
          Receive free AUC just by referring others to Aucuts!
      </div>
      <div class="referral-description">
          When your referral signs up, you’ll receive 1,000 AUC
      </div>
      <div class="hot-site-referral-img-div">
        <img fxHide.lt-md class="hot-site-referral-image" src="./assets/img/Img_Referral.png">
      </div>
    </div>
  </div>
  <hotsite-blog-section></hotsite-blog-section>
</div>
<hotsite-footer></hotsite-footer>