<div class="global-container">
  <div class="hotsite-title">An investment platform made for the digital age. Follow your favourite expert, recognize trends early, stay in control.</div>
  <img class="hot-site-image" src="./assets/img/Img_Banner.png">
</div>
<div class="early-access">
  <div class="global-container" fxLayout="row" fxLayoutGap="16px">
    <img class="hot-site-phone-image" src="./assets/img/Img_Mobile.png">
    <div fxLayout="column" class="early-access-content">
      <div class="early-access-description">An investment platform made for the digital age. Follow your favourite expert, recognize trends early, stay in control.</div>
      <div class="early-access-title">Sign up for early access</div>
      <inheritance-input #Referral [options]="getEmailInputOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web" ></inheritance-input>
    </div>
  </div>
</div>
<div>
  <div class="global-container" fxLayout="column" fxLayoutGap="16px">
    <div class="early-access-content bottom-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </div> 
    <div fxLayout="row" class="itens" fxLayoutGap="50px">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./assets/img/Icon_Graph.png">
        <div class="item-title">Crypto analysts recommendation</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./assets/img/Icon_Podium.png">
        <div class="item-title">Transparent and trustful ranking</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./assets/img/Icon_Lock.png">
        <div class="item-title">No spending, no locking</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</div>
      </div>
    </div>
  </div>
</div>