:host{
    background: white;
    display: inline-block;
    min-width: 100%;
}

.hotsite-title{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: #434343;
    margin: 56px auto;
    max-width: 760px;
    width: calc(100% - 40px);
}


.hot-site-referral-image,
.hot-site-image {
    width: 100%;
    background-color: #b7b7b7;
}

.hot-site-phone-image{
    margin-top: -170px;
    margin-left: 60px;
    position: absolute;
}

.early-access{
    background-color: #1f1f1f;
    margin-top: -170px;
    padding-top: 170px;
}

.early-access-description{
    width: 516px;
    font-size: 21.5px;
    font-weight: 500;
    color: #f9f9f9;
    margin-top: 46px;
    margin-bottom: 46px;
}

.early-access-title{
    font-size: 37.5px;
    font-weight: 500;
    color: #ffffff;
}

.early-access-content{
    margin-left: 460px;
}

.bottom-description{
    margin-top: 32px;
    max-width: 425px;
    width: calc(100% - 40px);
    font-size: 16px;
    font-weight: 300;
    color: #737373;
}

.item-title{
    font-size: 29px;
    font-weight: 600;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 300px;
}

.itens{
    margin-top: 200px;
}

.separator{
    width: 1px;
    height: 306px;
    border-left: solid 1px #70707070;
}


.icon-wrapper{
    width: 92px;
    height: 74px;
    margin-top: 30px;
}

.item-description{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #808080;
}

.referral-title{
    font-size: 33.5px;
    font-weight: 500;
    text-align: center;
    color: #343434;
    margin-top: 60px;
}

.referral-subtitle {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #343434;
    margin-top: 16px;
}

.referral-description{
    max-width: 456px;
    width: calc(100% - 40px);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #9a9a9a;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.send-button{
    background-color: #126efd;
    width: 200px;
    line-height: 48px;
    color: white;
    text-align: center;
    margin-top: 13px;
    cursor: pointer;
}

.referral-section{
    margin-top: 40px;
    margin-bottom: 40px;
}

@media(max-width: 959px){
    :host{
        margin-top: -33px;
    }

    .hotsite-title{
        font-size: 24px;
    }

    .hot-site-referral-img-div,
    .hot-site-image-div{
        width: 100%;
        background-position: center;
    }
    .hot-site-image-div{
        height: 270px;
    }

    .hot-site-referral-img-div{
        height: 315px;
    }

    .hot-site-referral-img-div{
        background-image: url('/assets/img/Img_Referral.png');
    }

    .hot-site-image-div{
        background-image: url('/assets/img/Img_Banner.png');
    }

    .hot-site-phone-image{
        margin-top: -200px;
        margin-left: calc(50% - 100px);
        position: absolute;
    }

    .early-access{
        background-color: #1f1f1f;
        margin-top: -4px;
        padding-top: 20px;
    }
    
    .early-access-description{
        max-width: 516px;
        width: calc(100% - 40px);
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .early-access-title{
        font-size: 20px;
    }
    
    .early-access-content{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 90px;
    }

    .itens{
        margin-top: 20px;
    }

    .separator{
        width: calc(100% - 40px);
        height: 1px;
        border-left: 0px;
        border-bottom: solid 1px #70707070;
    }


    .bottom-description{
        font-size: 13px;
    }
    
    .item-title{
        font-size: 20px;
    }
    
    .item-description{
        font-size: 16px;
    }
    
    .referral-title{
        font-size: 26px;
    }
    
    .referral-subtitle {
        font-size: 18px;
    }
    
    .referral-description{
        font-size: 13px;
    }
}