.data-div {
    padding-bottom: 25px;
}

.copy {
    font-size: 12px;
    font-weight: 300;
    background-color: #126efd;
    color: white;
    min-width: 50px;
    cursor: pointer;
    line-height: 20px;
    display: table-caption;
    text-align: center;    
}

.div-status {
    width: 100%;
}

.div-status:hover {
    background-color: rgba(0,0,0,0.05);
}

.table-header {
    color: white;
    width: 100%;
    
}

.table-earned{
    margin-bottom: 25px;
}

.table-earned .table-header{
    background-color:#126efd;
}

.table-used .table-header{
    background-color:#252525;
}

.table-earned > span,
.table-earned > div,
.table-used > span,
.table-used > div
{
    padding: 0 15px;
    line-height: 40px;
}

.div-value {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #676767;
}

.input-modal,
.table-earned,
.table-used {
    max-width: 320px !important;    
    width: calc(100% - 20px);
}

.border-bottom{
    border-bottom: solid 1px #46464646
}