.div-status {
    width: 100%;
}

.div-status:hover {
    background-color: rgba(0,0,0,0.05);
}

.table-header {
    color: white;
    width: 100%;
    
}

.table-earned{
    margin-bottom: 25px;
}

.table-earned .table-header{
    background-color:#126efd;
}

.table-used .table-header{
    background-color:#252525;
}

.table-earned > span,
.table-earned > div,
.table-used > span,
.table-used > div
{
    padding: 0 15px;
    line-height: 40px;
}

.div-value {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #676767;
}

.input-modal,
.table-earned,
.table-used {
    max-width: 320px !important;    
    width: calc(100% - 20px);
}

.border-bottom{
    border-bottom: solid 1px #46464646
}

.subtitle{
    max-width: unset;
    width: unset;
    margin-bottom: 18px;
    margin-top: 0px;
}

.content{
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    height: calc(100% - 160px);
}

.invite{
    max-width: 400px;
}

inheritance-input{
    font-size: 12px;
}

.page-title {
    display: block;
    text-align: center;
}

.sb-button ::ng-deep button{
    width: 140px;
}

::ng-deep .sb-outline .sb-wrapper{
    background-color: unset;
}

::ng-deep .sb-outline .sb-wrapper:hover {
    color: #2e2e2e !important;
}

@media(max-width:960px){
    .content{
        min-height: 545px;
    }
    .data-div{
        margin-top: 30px;
        width: 100%;
        max-width:320px;
    }
    .invite{
        max-width: 275px;
    }
    .sb-button{
        width: 130px;
    }
}