<div class="global-container" *ngIf="expert">
  <div fxLayout="row" fxLayoutGap="30px">
    <div fxLayout="column">   
      <advisor-card [advisor]="expert"></advisor-card>
      <div class="distribution-box">
        <div class="distribution-box-title">Currency Ratings Distribution</div>
        <recommendation-distribution [data]="expert.recommendationDistribution" [showTitle]="'true'"></recommendation-distribution>
      </div>
    </div>
    <div class="expert-details-content" fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <div fxLayout="column">
          <div class="expert-name">{{expert.name}}</div>
          <div class="expert-description">{{expert.description}}</div>
          <div class="expert-followers">Followed by {{expert.numberOfFollowers}} {{getInvestorsWordPluralOrSingular()}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
          <div class="blue-button action-button truncate" *ngIf="showOwnerButton && !noRecommendationsYet()" (click)="onNewAdviceClick()">NEW RATING</div>   
          <div class="blue-button action-button truncate" *ngIf="showOwnerButton" (click)="onEditProfileClick()">EDIT PROFILE</div>     
          <div class="white-button action-button truncate" *ngIf="!showOwnerButton && expert.following" (click)="onUnfollowClick()">
            UNFOLLOW
          </div>
          <div class="blue-button action-button truncate" *ngIf="!showOwnerButton && !expert.following" (click)="onFollowClick()">
            FOLLOW
          </div>
        </div>
      </div>
      <div *ngIf="expert.assets">
        <table mat-table [dataSource]="assets" class="assets-table">
          <ng-container matColumnDef="assetName">
            <th mat-header-cell *matHeaderCellDef> Asset </th>
            <td mat-cell *matCellDef="let asset">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" (click)="goToAssetDetails(asset.assetId, $event)">
                <div class="asset-icon">
                  <img [src]="getAssetImgUrl(asset)" onerror="this.style.display='none'">
                </div>
                <div fxLayout="column" fxLayoutAlign="center start">
                  <div class="table-asset-code">
                    {{asset.code}}
                  </div>
                  {{asset.name}} 
                </div>
              </div>   
            </td>
          </ng-container>
        
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let asset"> 
              <div [style.background-color]="getLastAdviceTypeColor(asset)">{{getLastAdviceTypeDescription(asset)}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let asset"> 
              At price
              <div>{{asset.assetAdvisor[0].lastAdviceAssetValue | currency}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let asset">
              {{getAdviceMode(asset)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let asset">
              <div [title]="getLastAdviceDate(asset) | date: 'medium'">{{getLastAdviceDate(asset) | timeAgo}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="ratings">
            <th mat-header-cell *matHeaderCellDef> No. of Ratings </th>
            <td mat-cell *matCellDef="let asset">
              {{getTotalRatings(asset)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="followButton">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let asset">
              <div class="white-button action-button-sm" *ngIf="asset.following" (click)="onUnfollowAssetClick($event, asset)">
                UNFOLLOW
              </div>
              <div class="blue-button action-button-sm" *ngIf="!asset.following" (click)="onFollowAssetClick($event, asset)">
                FOLLOW
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="chevron">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let asset; let i = index;">
                <fa-icon *ngIf="assets[i] == expandedElement" [icon]="'chevron-up'" size="lg" fxLayoutAlign="center stretch"></fa-icon>
                <fa-icon *ngIf="assets[i] != expandedElement" [icon]="'chevron-down'" size="lg" fxLayoutAlign="center stretch"></fa-icon>
              </td>
            </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td colspan=7 mat-cell *matCellDef="let asset; let i = index;">
              <asset-history-chart #assetHistoryChart [assetValues]="asset.element.values" [advices]="asset.element.assetAdvisor[0].advices" [chartTitle]="asset.element.name + ' price'"></asset-history-chart>
              <div class="rates" fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                  <svg viewBox="0 0 36 36" class="circular-chart blue" fxFlex="80px">
                    <path class="circle" d="M18 2.0845
                      a 15.9155 15.9155 0 0 1 0 31.831
                      a 15.9155 15.9155 0 0 1 0 -31.831" stroke-dasharray="100, 100" style="stroke: #383838;"></path>
                    <path class="circle"
                    [attr.stroke-dasharray]="asset.element.assetAdvisor[0].successRate * 100 +', 100'"
                      d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="20.35" class="percentage">{{asset.element.assetAdvisor[0].successRate * 100 | number:'1.0-0'}}%</text>
                  </svg>
                  <div class="success-rate-description" fxFlex>Success Rate</div>
                </div>
                <div class="separator"></div>
                <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" >
                  <div class="average-return" fxFlex="80px">
                      {{asset.element.assetAdvisor[0].averageReturn * 100 | number:'1.1-1'}}%
                  </div>
                  <div class="average-return-description" fxFlex>Average Return</div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" class="element-row" [class.expanded]="expandedElement == row"
          (click)="onRowClick(row)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            class="{{row.element == expandedElement ? 'expanded' : 'collapsed'}}"
            style="overflow: hidden"> 
          </tr>
        </table>
        <div *ngIf="noRecommendationsYet()" fxLayout="column" fxLayoutAlign="center center">
          <div class="no-advices-yet-message" [innerHTML]="getNoRecommendationMessage()" ></div>
          <div class="blue-button action-button" *ngIf="showOwnerButton" (click)="onNewAdviceClick()">NEW RATING</div>
        </div>
      </div>
    </div>
  </div>
</div>
<trending-assets class="global-container-min inverted"></trending-assets>