:host{
    background: #252525;
    padding-top: 20px;
    display: block;
}

.expert-name{
    font-size: 27px;
    font-weight: 300;
    text-align: left;
    color: white;
}

.expert-description{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: white;
}

.expert-followers{
    margin-top: 11px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #126efd;
}

.assets-table{
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

.assets-table .mat-cell{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.assets-table th{
    background-color: #151515;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.assets-table th.mat-header-cell{
    text-align: center;
}

.mat-header-row{
    height: 40px !important;
}

.element-row {
    position: relative;
}
  
.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #15151540;
}

.element-row.expanded .mat-cell{
    border-bottom-color: transparent;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

:host ::ng-deep .collapsed .highcharts-container{
    display: none;
}

:host tr.mat-footer-row, tr.mat-row {
    height: 74px;
}

:host .mat-table {
    background: #252525;
}

/*.expert-details-action-button{
    width: 132px;
    height: 26px;
    line-height: 26px;
    background-color: #f99d00;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}*/

.mat-column-assetName .table-asset-code{
    font-size: 18px;
    font-weight: 300;
}

.mat-column-position div{
    width: 70px;
    height: 16px;
    line-height: 16px;
    background-color: #63c96f;
    font-size: 11px;
    font-weight: 500;
    color: #ffffff;
    margin:auto;
}
