:host{
    background: #252525;
    
    padding-top: 70px;
    display: block;
}

@media (min-width: 960px){
    :host {
        width: 100%;
        min-width: 1168px;
    }
}

.distribution-box{
    background: #151515;
    color: white;
    padding: 24px 20px 4px 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.distribution-box-title{
    font-size: 16px;
    font-weight: 600;
}

.expert-name{
    font-size: 27px;
    font-weight: 300;
    text-align: left;
    color: white;
}

.expert-description{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: white;
}

.expert-followers{
    margin-top: 11px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #126efd;
}

.assets-table .element-row {
    position: relative;
}
  
.assets-table .element-row:not(.expanded) {
    cursor: pointer;
}

.assets-table .element-row:not(.expanded):hover {
    background: #15151540;
}

.assets-table .element-row.expanded .mat-cell{
    border-bottom-color: transparent;
}

.assets-table .element-row:not(.expanded) .mat-cell,
.assets-table .mat-column-expandedDetail{
    border-bottom-color: #959595;
}

.assets-table .element-row.expanded {
    border-bottom-color: transparent;
}

.assets-table .expanded{
    background-color: #404040;
}

.assets-table .expanded td:first-child{
    border-left: 1px solid #959595;
}

.assets-table .expanded td:last-child{
    border-right: 1px solid #959595;
}

.assets-table tr:first-child.expanded td{
    border-top: 1px solid #959595;
}

:host ::ng-deep .collapsed .highcharts-container{
    display: none;
}

:host tr.mat-footer-row, tr.mat-row {
    height: 74px;
}

:host .mat-table {
    background: #252525;
}

.mat-column-assetName .table-asset-code{
    font-size: 18px;
    font-weight: 300;
}

.circular-chart{
    height: 80px;
}

.circular-chart .percentage {
    fill: #2c8b8b;
    font-size: 8px;
    text-anchor: middle;
    font-weight: bold;
}

.average-return{
    color:#2c8b8b;
    font-size: 23px;
    font-weight: 600;
}

.success-rate-description,
.average-return-description{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}

.rates{
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator{
    width: 1px;
    height: 59px;
    background-color: #959595;
}

:host ::ng-deep .expert-details-div{
    cursor: default !important;
}

.no-advices-yet-message{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 20px;
}

.advice-parameters {
    font-size: 9px;
    font-style: italic;
    line-height: 10px;
}

.advice-data-div {
    min-width: 115px;
}