<div class="global-container" *ngIf="expert">
  <div class="breadcrumbs">Home  >  Top Experts  >  <span>{{expert.name}}</span></div> 
  <div fxLayout="row" fxLayoutGap="30px">
    <div fxLayout="column"> 
      <advisor-card [advisor]="expert"></advisor-card>
      <recommendation-distribution [data]="expert.recommendationDistribution"></recommendation-distribution>
    </div>
    <div class="expert-details-content" fxLayout="column" fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column">
          <div class="expert-name">{{expert.name}}</div>
          <div class="expert-description">{{expert.description}}</div>
          <div class="expert-followers">Followed by {{expert.numberOfFollowers}} investors</div>
        </div>
        <div class="expert-details-action-button">Follow</div>
      </div>
      <div *ngIf="expert.assets">
        <table mat-table [dataSource]="assets" class="assets-table">
          <ng-container matColumnDef="assetName">
            <th mat-header-cell *matHeaderCellDef> Asset </th>
            <td mat-cell *matCellDef="let asset"> 
              <div class="table-asset-code">
                {{asset.code}}
              </div>
              {{asset.name}} 
            </td>
          </ng-container>
        
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let asset"> 
              <div>{{getLastAdviceTypeDescription(asset)}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let asset">
              {{getAdviceMode(asset)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let asset">
              {{getLastAdviceDate(asset) | timeAgo}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ratings">
            <th mat-header-cell *matHeaderCellDef> # of Ratings </th>
            <td mat-cell *matCellDef="let asset">
              {{getTotalRatings(asset)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="followButton">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let asset">
              Follow
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td colspan=6 mat-cell *matCellDef="let asset"> 
              <asset-history-chart [assetValues]="asset.element.values" [advices]="asset.element.assetAdvisor[0].advices"></asset-history-chart>
              <div>
                Success rate: {{asset.element.assetAdvisor[0].successRate}}
                Average return: {{asset.element.assetAdvisor[0].averageReturn}}
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" class="element-row" [class.expanded]="expandedElement == row"
          (click)="onRowClick(row)"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            class="{{row.element == expandedElement ? 'expanded' : 'collapsed'}}"
            style="overflow: hidden"> 
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>