<div class="global-container">
    <table *ngIf="reports && reports.length > 0" mat-table [dataSource]="reports" class="assets-table">
      <ng-container matColumnDef="agencyName">
        <th mat-header-cell *matHeaderCellDef> Agency </th>
        <td mat-cell *matCellDef="let report"> 
          <a [href]="report.agencyWebSite" target="_blank"><span class="truncate">{{report.agencyName}}</span></a>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef><span > Score </span></th>
        <td mat-cell *matCellDef="let report"> 
          <div class="expert-rating">
            <bar-rating [theme]="'fontawesome-o'" [readOnly]="'true'" [rate]="report.score" [title]="report.score | number: '1.2-2'"></bar-rating>
          </div>
          <span fxHide.gt-xs fxLayout="column" fxLayoutGap="5px">
            <div>Rating: </div>
            <div class="rate" [style.background-color]="getBackgroundColor(report)">
              {{report.rate}}
            </div>
          </span>
          <div class="report-date" fxHide.gt-xs [title]="report.reportDate | date: 'medium'">{{report.reportDate | timeAgo}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef><span fxHide.lt-sm> Rating </span> </th>
        <td mat-cell *matCellDef="let report">  
          <div fxHide.lt-sm class="rate" [style.background-color]="getBackgroundColor(report)">
            {{report.rate}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><span fxHide.lt-sm> Date </span></th>
        <td mat-cell *matCellDef="let report">
          <div fxHide.lt-sm [title]="report.reportDate | date: 'medium'">{{report.reportDate | timeAgo}}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let report">
          <a [href]="getReportUrl(report)" target="_blank"><fa-icon icon="download"></fa-icon>&nbsp;Download</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row matRipple *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="element-row"></tr>
    </table>
    <div *ngIf="!reports || reports.length == 0">
      There's no agency rating of this asset.
    </div>
    <div *ngIf="hasMoreReports()" fxLayoutAlign="center center">
      <button class="pagination-link" (click)="loadMoreReports()">
        LOAD MORE
      </button>
    </div>
  </div>