:host{
    display: block;
    overflow: auto;
}

.expert-rating{
    margin: 0px;
    font-size: 14px;
}

.small-text{
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.3px;
}

tr.highlight {
    background: #181818;
}

tr.highlight:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.inverse .mat-cell {
    color: #4d4d4d;
}

@media(min-width:960px){ 
    .mat-column-badge{
        width:50px;
        padding-right: 20px;
    }
}

.mat-column-follow {
    width: 130px;
}