<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
  <p class="subtitle">Please enter a different password consisting of at least 8 characters.</p>
</div>
<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <inheritance-input #CurrentPassword [options]="getCurrentPasswordOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="changePasswordRequest.currentPassword" (onChange)="changePasswordRequest.currentPassword = $event"></inheritance-input>
  <inheritance-input #NewPassword [options]="getNewPasswordOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="changePasswordRequest.newPassword" (onChange)="changePasswordRequest.newPassword = $event"></inheritance-input>
  <button class="btn-save btn-modal mat-primary" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" mat-flat-button (click)="send()" [promiseBtn]="promise">Send</button>
</div>
