:host{
    height: 82px;
    background-color: #101010;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 3;
}

:host > div {
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.menu > a {
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    height: calc(100% - 2px);
    display: inline-flex;
    align-items: center;
    border-bottom: solid 2px #101010;
}

.menu > a:hover,
.menu > a.active {
    border-bottom: solid 2px #ffffff;
}

a span {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
}

.menu {
    height:100%;
}

.separator {
    width: 1px;
    height: calc(100% - 40px);
    text-align: center;
    background-color: #959595;
}

.search {
    margin-left: 15px;
    margin-right: 15px;
}

.signin {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    padding-right: 15px;
}

.header-blue-button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: 
        -webkit-gradient(linear, 0 0, 0 100%, from(#07d1ff), to(#126efd)) 1 100%;
        -webkit-border-image: 
        -webkit-linear-gradient(#07d1ff, #126efd) 1 100%;
        -moz-border-image:
        -moz-linear-gradient(#07d1ff, #126efd) 1 100%;    
        -o-border-image:
        -o-linear-gradient(#07d1ff, #126efd) 1 100%;
        border-image:
        linear-gradient(to top, #07d1ff 1%, #126efd) 1 100%;
    border-image-slice: 1;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #07d1ff;
    cursor: pointer;
    margin-right: 15px;
}

::ng-deep .sub-menu {
    background-color:  #ffffff;
    box-shadow: 0 0 4px #151515;
}
::ng-deep .sub-menu-item,
::ng-deep .sub-menu-item a{
    font-family: 'Gilroy';
    font-weight: 300;
    color: #535353;
    font-size: 16px;
    text-align: center !important;
}

::ng-deep .sub-menu-item {
    border-top: solid 1px #151515 !important;
}

::ng-deep button.mat-menu-item:hover,
::ng-deep button.mat-menu-item:hover a{
    background: #151515 !important;
    color: white;
}

.mobile-menu {
    color: white;
    margin-right: 10px;
}

.about-mobile {
    padding-left: 0px;
}
