<div class="global-container">
    <img [src]="getLogoImgUrl()" routerLink="" class="landing-logo" />
    <span class="spacer"></span>
    <div class="menu" fxLayout="row" fxLayoutAlign="space-around center">
        <a fxShow="true" fxHide.lt-lg="true" *ngIf="!loginData || !loginData.isAdvisor" (click)="onBecomeExpert()" routerLinkActive="active"><span>BECOME AN EXPERT</span></a>
        <div fxShow="true" fxHide.lt-lg="true" *ngIf="!loginData || !loginData.isAdvisor" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" *ngIf="!!loginData && loginData.isAdvisor" [routerLink]="getMyProfile()" routerLinkActive="active"><span>MY PROFILE</span></a>
        <div fxShow="true" fxHide.lt-lg="true" *ngIf="!!loginData && loginData.isAdvisor" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" routerLink="/top-experts" routerLinkActive="active"><span>TOP EXPERTS</span></a>
        <div fxShow="true" fxHide.lt-lg="true" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" routerLink="/top-assets" routerLinkActive="active"><span>TOP ASSETS</span></a>
        <div fxShow="true" fxHide.lt-lg="true" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" routerLink="/rating-reports" routerLinkActive="active"><span>REPORTS</span></a>
        <div fxShow="true" fxHide.lt-lg="true" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" routerLink="/coin-events" routerLinkActive="active"><span>COIN EVENTS</span></a>
        <div fxShow="true" fxHide.lt-lg="true" class="separator"></div>
        <a fxShow="true" fxHide.lt-lg="true" routerLinkActive="active" href="https://auctus.org/" target="_blank"><span>ABOUT US</span></a>
        <global-search fxShow="true" fxHide.lt-md="true" class="search"></global-search>
        <span class="blue-button header-blue-button" (click)="goToTerminal()">TERMINAL</span>
        <span class="signin login" *ngIf="!isLogged()" (click)="login()">LOGIN</span>
        <span class="signin" *ngIf="!isLogged()" (click)="register()">SIGN UP</span>
        <a *ngIf="isLogged()" fxShow="true" fxHide.lt-lg="true" (click)="menuOpen = !menuOpen" [matMenuTriggerFor]="profile">
            <span fxLayout="row" fxLayoutAlign="space-around center">
                <div *ngIf="isAdvisor()" class="expert-picture">
                    <img [src]="getAdvisorImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'"/>
                </div>
                <span class="profile-description truncate" [title]="getProfileDescription()">{{getProfileDescription()}}</span>
                <mat-icon>{{menuOpen ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
            </span>
        </a>
        <div class="blue-button header-blue-button" fxHide.gt-md="true" *ngIf="!!loginData && loginData.isAdvisor" (click)="onNewAdviceClick()">RATE</div>
        <span class="mobile-menu" fxShow="true" fxHide.gt-md="true" (click)="menuOpen = !menuOpen" [matMenuTriggerFor]="mobile"><mat-icon>{{menuOpen ? 'close' : 'reorder'}}</mat-icon></span>
        <mat-menu class="sub-menu" [overlapTrigger]="false" xPosition="before" #profile="matMenu">
            <button class="sub-menu-item" fxShow="true" fxHide.gt-sm="true" *ngIf="!loginData || !loginData.isAdvisor" (click)="onBecomeExpert()" mat-menu-item>BECOME AN EXPERT</button>
            <button class="sub-menu-item" fxShow="true" fxHide.gt-sm="true" *ngIf="!!loginData && loginData.isAdvisor" (click)="onMyProfile()" mat-menu-item>MY PROFILE</button>
            <button class="sub-menu-item" *ngIf="!!loginData && loginData.isAdvisor" (click)="editAdvisor()" mat-menu-item>EDIT PROFILE</button>
            <button class="sub-menu-item" (click)="configuration()" mat-menu-item>CONFIGURATION</button>
            <button class="sub-menu-item" (click)="referralDetails()" mat-menu-item>REWARDS SUMMARY</button>
            <button class="sub-menu-item" (click)="changePassword()" mat-menu-item>CHANGE PASSWORD</button>
            <button class="sub-menu-item" (click)="logout()" mat-menu-item>LOGOUT</button>
        </mat-menu>
        <mat-menu class="sub-menu" [overlapTrigger]="false" xPosition="before" #mobile="matMenu">
            <button class="sub-menu-item" *ngIf="!loginData || !loginData.isAdvisor" (click)="onBecomeExpert()" mat-menu-item>BECOME AN EXPERT</button>
            <button class="sub-menu-item" *ngIf="!!loginData && loginData.isAdvisor" (click)="onMyProfile()" mat-menu-item>MY PROFILE</button>
            <button class="sub-menu-item" (click)="onTopExperts()" mat-menu-item>TOP EXPERTS</button>
            <button class="sub-menu-item" (click)="onTopAssets()" mat-menu-item>TOP ASSETS</button>
            <button class="sub-menu-item" (click)="onReports()" mat-menu-item>REPORTS</button>
            <button class="sub-menu-item" (click)="onCoinEvents()" mat-menu-item>COIN EVENTS</button>
            <button class="sub-menu-item" *ngIf="!isLogged()" mat-menu-item>
                <a class="about-mobile" routerLinkActive="active" href="https://auctus.org/" target="_blank">ABOUT US</a>
            </button>
            <button class="sub-menu-item" *ngIf="!!loginData && loginData.isAdvisor" (click)="editAdvisor()" mat-menu-item>EDIT PROFILE</button>
            <button class="sub-menu-item" *ngIf="isLogged()" (click)="configuration()" mat-menu-item>CONFIGURATION</button>
            <button class="sub-menu-item" *ngIf="isLogged()" (click)="referralDetails()" mat-menu-item>REWARDS SUMMARY</button>
            <button class="sub-menu-item" *ngIf="isLogged()" (click)="changePassword()" mat-menu-item>CHANGE PASSWORD</button>
            <button class="sub-menu-item" *ngIf="isLogged()" (click)="logout()" mat-menu-item>LOGOUT</button>
        </mat-menu>
    </div>
</div>