<div class="no-header-container">
    <div class="no-header-logo" ngClass.xs="no-header-logo-mobile"><img [src]="getLogoImgUrl()" routerLink="" class="landing-logo"/></div>
    <mat-tab-group fxHide.xs="true" class="assets-tabs" (selectedTabChange)="onAssetChange($event)">
        <mat-tab *ngFor="let asset of assets" label="{{asset.code}}">
            <ng-template matTabContent>
                <asset-header [assetTerminal]="selectedAsset" fxFlex="100"></asset-header>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div fxHide.gt-xs="true" fxLayout="column" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="form-select-coin">
                <mat-select (selectionChange)="onSelectCoinChanged($event)" [(value)]="assetId">
                    <mat-option class="select-coin" *ngFor="let asset of assets" [value]="asset.assetId">
                    {{asset.code}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <asset-header class="asset-header-mobile" [assetTerminal]="selectedAsset" fxFlex="100"></asset-header>
    </div>
    <div class="boxes-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <div class="painel-row" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start center" fxLayoutGap="10px">
            <crypto-chart #CryptoChart fxFlex.gt-sm="50" fxFlex.lt-md="100"></crypto-chart>
            <ratings-list fxHide.lt-md *ngIf="selectedAsset" [assetId]="selectedAsset.assetId" fxFlex.gt-sm="50" fxFlex.lt-md="100"></ratings-list>
        </div>
        <div class="painel-row" fxHide.gt-sm fxLayout="column">
          <mat-tab-group class="boxes-tabs" mat-stretch-tabs fxFlex="100">
              <mat-tab class="news-tab">
                <ng-template mat-tab-label>
                  <div class="news-tab-label" fxFlex>
                    NEWS
                    <div class="top-triangle"></div>
                  </div>
                  <div class="bottom-line"></div>
                </ng-template>
                <news-list ></news-list>
              </mat-tab>
              <mat-tab>
                <ng-template class="experts-tab-label" mat-tab-label>
                  <div class="experts-tab-label" fxFlex>
                    EXPERTS
                    <div class="top-triangle"></div>
                  </div>
                  <div class="bottom-line"></div>
                </ng-template>
                <ratings-list *ngIf="selectedAsset" [assetId]="selectedAsset.assetId"></ratings-list>
              </mat-tab>
              <mat-tab>
                <ng-template class="events-tab-label" mat-tab-label>
                  <div class="events-tab-label" fxFlex>
                    EVENTS
                    <div class="top-triangle"></div>
                  </div>
                  <div class="bottom-line"></div>
                </ng-template>
                <events-list  *ngIf="selectedAsset" [assetId]="selectedAsset.assetId"></events-list>
              </mat-tab>
          </mat-tab-group>
        </div>
        <div class="painel-row" fxHide.lt-md fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <news-list fxFlex="50"></news-list>  
            <events-list *ngIf="selectedAsset" [assetId]="selectedAsset.assetId" fxFlex="50"></events-list>
        </div>
    </div>
</div>