:host .global-container{
    margin-bottom: 76px;
}

.pagination-link{
    margin-top: 76px;
}

.blocked-content {
    height: 300px;
    position: absolute;
    z-index: 2;
    max-width: unset !important;
}

event-card,
report-card,
advice-card{
    color: white;
    font-size: 19.5px;
    font-weight: 300;
    padding-bottom: 12px; 
    margin-bottom: 16px;
    border-bottom: solid 1px #ffffff99;
    display: block;
}

:host ::ng-deep .feed-picture{
    position: relative;    
    background-color: white;
    cursor: pointer;
}

:host ::ng-deep .feed-picture,
:host ::ng-deep .feed-picture img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}



:host ::ng-deep .feed-name{
    width: calc(100vh - 20px);
    max-width: 260px;
}

@media(min-width: 960px){
    :host ::ng-deep .feed-name{
        width: 260px;
    }
}


:host ::ng-deep .follow-btn{
    margin-left: 40px;
}

@media(max-width: 599px){
    :host ::ng-deep .feed-name,
    :host ::ng-deep .asset-code-name,
    :host ::ng-deep .asset-name{
        text-align: center;
    }

    :host ::ng-deep .follow-btn{
        margin-left: auto;
        margin-right: auto;
    }
}

:host ::ng-deep .expert-name-rating{
    cursor: pointer;
}

:host ::ng-deep .asset-column{
    width: 200px;
    cursor: pointer;
}

:host ::ng-deep .asset-code-name,
:host ::ng-deep .asset-name{
    width: 160px;;
}

:host ::ng-deep .asset-name{
    font-size: 14px;
}

:host ::ng-deep .asset-icon{
    margin-right: 12px;
}

:host ::ng-deep .asset-icon,
:host ::ng-deep .asset-icon img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

:host ::ng-deep .feed-time{
    width: 140px;
}

:host ::ng-deep .download-link{
    text-align: center;
    font-size: 14.5px;
    color: #07d0ff;
    margin-top: 8px;
}

:host ::ng-deep .download-column{
    width: 168px;
}

:host ::ng-deep .tag .tag-description{
    font-size: 14px;
    font-weight: 500;
    width: 50px;
    height: 23px;
    line-height: 23px;
    padding-left: 6px;
    color: #126ffd;
    background-color: white;
}
  
:host ::ng-deep .tag .after-triangle {
    width: 0;
    height: 0;
    border-top: 23px solid white;
    border-right: 10px solid transparent;
}
  
:host ::ng-deep .tag.blue .tag-description{
    color: white;
    background-color: #126ffd;
}

:host ::ng-deep  .tag.blue .after-triangle {
    border-top: 23px solid #126ffd;
}

:host ::ng-deep .tag{
    margin-bottom: 5px;
}

:host ::ng-deep .tag.yellow .tag-description{
    color: #333333;
    background-color: #e2a001;
}

:host ::ng-deep  .tag.yellow .after-triangle {
    border-top: 23px solid #e2a001;
}