<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="25px">
  <p class="subtitle">{{getSubtitleText()}}</p>
  <div class="file-container" ngClass.xs="file-container-mobile" ngClass.sm="file-container-tablet" ngClass.gt-sm="file-container-web"> 
    <div class="file-uploader">
      <file-uploader #FileUploadComponent></file-uploader>
    </div>
  </div>
</div>
<div class="form-div" fxLayout="column" fxLayoutAlign="center center">
  <div class="form-row" fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutAlign="center center" >
    <inheritance-input #Email [options]="getEmailOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.gt-xs="input-modal-web"
      [value]="registerAdvisorRequest.email" (onChange)="registerAdvisorRequest.email = $event"></inheritance-input>
    <inheritance-input *ngIf="isNewUser()"  #Password [options]="getPasswordOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.gt-xs="input-modal-web"
      [value]="registerAdvisorRequest.password" (onChange)="registerAdvisorRequest.password = $event"></inheritance-input>
  </div>
  <div class="form-row" fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px" fxLayoutAlign="center center" >
    <inheritance-input #Name [options]="getNameOptions()" class="input-modal"  ngClass.xs="input-modal-mobile" ngClass.gt-xs="input-modal-web"
      [value]="registerAdvisorRequest.name" (onChange)="registerAdvisorRequest.name = $event"></inheritance-input>
    <inheritance-input #Description [options]="getDescriptionOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.gt-xs="input-modal-web"
      [value]="registerAdvisorRequest.description" (onChange)="registerAdvisorRequest.description = $event"></inheritance-input>
  </div>
</div>
<div class="last-div" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <recaptcha *ngIf="isNewUser()" #RecaptchaComponent (onCaptchaResponse)="onCaptchaResponse($event)"></recaptcha>
  <button class="btn-modal" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" 
    mat-flat-button (click)="onSubmit()" [promiseBtn]="promise">Submit</button>
</div>