.file-container {
    position: relative;
    width: 130px;
    height: 130px;
}

.file-uploader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.input-experience{
    max-width: 550px;
    width: calc(100% - 20px);
}

.input-modal-web{
    width: calc(50% - 20px);
    max-width: 265px;
}

.input-modal-mobile{
    width: calc(100% - 20px);
    max-width: 550px;
}

.form-div {
    padding-top: 25px;
}

.form-row{
    width: 100%;
}

.last-div {
    padding-bottom: 25px;
}

.already-sent {
    color: orange;
    font-weight: 700;
    text-align: center;
}

.subtitle{
    max-width: 550px;
}