/* File Uploader Styles  */

.uploader input {
    display: none;
  }
  
  .uploader {
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    margin: auto;
  }
  
  .uploader img,
  .uploader .icon {
    pointer-events: none;
  }
  
  .uploader,
  .uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  
  .uploader .icon {
    font-size: 16px;
    display: block;
    font-weight: 900;
    text-align: center;
  }
  
  .uploader img {
    left: 50%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px #161616;
  }
  
  .uploader img.loaded {
    opacity: 1;
  }

  .close {
      z-index: 2;
      top: 0;
      right: 0;
      height: 10px;
      width: 10px;
      position: absolute;
  }

  .empty-img {
    pointer-events: none;
    opacity: 0.9;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 4px #161616;
  }