<hotsite-header></hotsite-header>
<div class="global-container">
  <div class="expert-section-title">BE AN EXPERT</div>
  <div class="expert-section-subtitle">Join Auctus Affiliate Program and profit from the world’s first crypto analyst platform.</div>
</div>
<div class="itens-section">
  <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
    <img ngClass.gt-sm="expert-image" ngClass.lt-md="expert-image-mobile" src="./assets/img/Img_Banner2.png">
    <div class="global-container">
      <div class="itens-list" fxFlex.gt-sm="46" fxFlex.lt-md="100" fxFlexOffset.gt-sm="54" fxFlexOffset.lt-md="0">
        <div><fa-icon icon="chevron-right" size="xs"></fa-icon>&nbsp;Become an Expert and monetize your trading know how</div>
        <div><fa-icon icon="chevron-right" size="xs"></fa-icon>&nbsp;We’ll help build your audience while increasing your reach for monetization</div>
        <div><fa-icon icon="chevron-right" size="xs"></fa-icon>&nbsp;Lucrative commissions just by giving trading advice</div>
        <div><fa-icon icon="chevron-right" size="xs"></fa-icon>&nbsp;No Joining fees for Experts</div>
        <div><fa-icon icon="chevron-right" size="xs"></fa-icon>&nbsp;Quick and easy startup with the largest bonuses for early Experts</div>
      </div>
    </div>
  </div>
  <div class="global-container">

    <div class="expert-section-title">
        Maximize your profits
    </div>
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="40px" fxLayoutGap.lt-md="20px" fxLayoutAlign.gt-sm="center stretch" fxLayoutAlign.lt-md="center center">
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="profit-item-title">Sign Up Bonus</div>
        <div class="profit-item-description">Earn just by growing your user base with a referral code</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="profit-item-title">Top Experts of the Month</div>
        <div class="profit-item-description">Each month, Experts with the highest ranking are rewarded with AUC tokens and promoted to the entirety of platform users</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="profit-item-title">Fast Start Bonus</div>
        <div class="profit-item-description">Earn even more just by onboarding enough users within your first 30 days of enrollment</div>
      </div>
      <div class="separator"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" >
        <div class="profit-item-title">Top Influencers</div>
        <div class="profit-item-description">Monetize your trading voice just by interacting with your base</div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="global-container">
      <div class="expert-section-title">
          Sign up for early access
      </div>
      <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="start start" fxLayoutAlign.lt-md="center center" fxLayoutGap.gt-sm="20px" fxLayoutGap.lt-md="4px">
        <inheritance-input #Name [options]="getNameInputOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web" ></inheritance-input>
        <inheritance-input #Email [options]="getEmailInputOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web" ></inheritance-input>
        <inheritance-input #Twitter [options]="getTwitterInputOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web" ></inheritance-input>
        <div class="column" fxFlex.gt-sm="200px">
          <div class="send-button">Send</div>
          <div class="send-button-description">Sign up now so you'll be the first to know of new bonuses and additions to the platform!</div>
        </div>
      </div>
  </div>
</div>
<!-- <div class="blog-section">
  <div class="global-container">
      <div class="expert-section-title">
          Blog
      </div>
  </div>
</div> -->
<hotsite-footer></hotsite-footer>