<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
  <p class="header">Fill your data to create an account and improve your investments.
    <br/>You need to hold some AUC in your own wallet.</p>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
  <inheritance-input #Email [options]="getEmailOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.email" (onChange)="registerRequest.email = $event"></inheritance-input>
  <inheritance-input #Password [options]="getPasswordOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.password" (onChange)="registerRequest.password = $event"></inheritance-input>
  <inheritance-input #Referral [options]="getReferralOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.referralCode" (onChange)="onChangeReferralCode($event)"></inheritance-input>
  <p class="discount" *ngIf="discountMessage.length > 0">{{discountMessage}}</p>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <recaptcha #RecaptchaComponent (onCaptchaResponse)="onCaptchaResponse($event)"></recaptcha>
  <mat-checkbox required [(ngModel)]="acceptTermsAndConditions">Agree with all terms</mat-checkbox>
  <button class="btn-modal" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" mat-flat-button (click)="onCreateAccountClick()" [promiseBtn]="promise">Register</button>
  <a class="modal-link" (click)="onLoginClick()">I have an account. Go to Login</a>
  <button mat-flat-button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  <button mat-flat-button (click)="socialSignIn('google')">Signin in with Google</button> 
</div>
  