<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
  <p class="subtitle">By registering, you will get full platform access.</p>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
  <inheritance-input #Email [options]="getEmailOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.email" (onChange)="registerRequest.email = $event"></inheritance-input>
  <inheritance-input #Password [options]="getPasswordOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.password" (onChange)="registerRequest.password = $event"></inheritance-input>
  <inheritance-input #Referral [options]="getReferralOptions()" class="input-modal" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="registerRequest.referralCode" (onChange)="onChangeReferralCode($event)"></inheritance-input>
  <p class="discount" *ngIf="discountMessage.length > 0">{{discountMessage}}</p>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <recaptcha #RecaptchaComponent (onCaptchaResponse)="onCaptchaResponse($event)"></recaptcha>
  <mat-checkbox required [(ngModel)]="acceptTermsAndConditions">Agree with all terms</mat-checkbox>
  <button class="btn-modal" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" mat-flat-button (click)="onCreateAccountClick()" [promiseBtn]="promise">Register</button>
</div>
<div class="div-padding-bottom div-padding-top links-container" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">
  <div>
      Forgot password? <a class="modal-link" (click)="onForgotPasswordClick()">Click here</a>
  </div>
  <div>
      I have an account. <a class="modal-link" (click)="onLoginClick()">Go to login</a>
  </div>
</div>
  