<div *ngIf='positionResponse' class="header" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
  <div fxLayout="row" class="boxes-wrapper" >
    <div fxLayout="row" class="boxes">
      <div>{{dataSource.data.length}}
        <br>
        <span>Trades</span>
      </div>
      <div>{{positionResponse.successRate | percentageDisplay: 1}}
        <br>
        <span>Profitable</span>
      </div>
      <div>
        <percentage-display [value]="positionResponse.averageReturn"></percentage-display>
        <br>
        <span>Avg.Returns</span>
      </div>
    </div>
    <div class="returns">{{positionResponse.totalProfit | valueDisplay}}
      <br>
      <span>Total Return</span>
    </div>
  </div>
  <div class="trades" fxLayout="row">
    <div>{{bestTrade | percentageDisplay}}
      <br>
      <span>Best Trade</span>
    </div>
    <div>{{worstTrade | percentageDisplay}}
      <br>
      <span>Worst Trade</span>
    </div>
    <div>
      <span *ngIf="positionResponse && positionResponse.averageTradeMinutes">{{getAvgTradeMinutes() | amTimeAgo:'true'}}</span>
      <span *ngIf="!positionResponse || !positionResponse.averageTradeMinutes">-</span>
      <br>
      <span>Avg. Trade Time</span>
    </div>
  </div>
</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="fixed-header" matSort>
      <ng-container matColumnDef="asset">
        <th  mat-header-cell *matHeaderCellDef mat-sort-header="assetCode"> ACTIONS({{dataSource.data.length}}) </th>
        <td mat-cell *matCellDef="let order" (click)="onAssetClick(order.assetId)" class="pointer">
          <div fxLayout="row" fxLayoutAlign.gt-sm="start center" fxLayoutAlign.lt-sm="center">
            <div><img class="asset-image" [src]="getAssetImgUrl(order.assetId)" onerror="this.style.display='none'" onload="this.style.display='unset'" /></div>
            <div class="asset">
              <span [class]="order.type == 1 ? 'red-label' : 'green-label'">{{getOrderDescription(order)}}</span><span ngClass.lt-sm="hidden"> - </span><br ngClass.gt-sm="hidden"/>{{order.assetCode}}
            </div>
          </div>
        </td>
      </ng-container>  
      <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> UNITS </th>
        <td mat-cell *matCellDef="let order"> {{order.quantity | valueDisplay: ''}} </td>
      </ng-container>
  
      <ng-container matColumnDef="open">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="openPrice"> OPEN </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order"> {{order.openPrice | valueDisplay}} </td>
      </ng-container>
  
      <ng-container matColumnDef="openTime">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="openDate"> OPEN TIME </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order">
            {{order.openDate | date:'dd/MM/yy'}}<br>
            <span>{{order.openDate | date:'HH\'h\'mm'}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="close">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="price"> CLOSE </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order"> {{order.price | valueDisplay}} </td>
      </ng-container>
  
      <ng-container matColumnDef="closeTime">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="statusDate"> CLOSE TIME </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order">
            {{order.statusDate | date:'dd/MM/yy'}}<br>
            <span>{{order.statusDate | date:'HH\'h\'mm'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="PL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="profit"> P/L </th>
        <td mat-cell *matCellDef="let order" >
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
            <percentage-display [value]="order.profit"></percentage-display>
            <span [class]="order.profitValue >= 0 ? 'green-label':'red-label'">{{order.profitValue | valueDisplay}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="footerRow">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          Start trading and check the closed positions here!
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      <tr [class.hidden]="dataSource && dataSource.data && dataSource.data.length > 0" mat-footer-row *matFooterRowDef="['footerRow']" class="footer-row"></tr>
    </table>
  </div>
