<div *ngIf='positionResponse' class="header" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
  <div fxLayout="row" class="boxes-wrapper" >
    <div fxLayout="row" class="boxes">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <div>{{dataSource.data.length}}</div>
        <span>Trades</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <div>{{positionResponse.successRate | percentageDisplay: 1}}</div>
        <span>Profitable</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <percentage-display [value]="positionResponse.averageReturn"></percentage-display>
        <span>Avg. Return</span>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
        <div>{{positionResponse.totalFee | valueDisplay}}</div>
        <span>Total Fees</span>
      </div>
    </div>
    <div class="returns" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
      <div>{{positionResponse.totalProfit | valueDisplay}}</div>
      <span>Total Return</span>
    </div>
  </div>
  <div class="trades" fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
      <div>{{bestTrade | percentageDisplay}}</div>
      <span>Best Trade</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
      <div>{{worstTrade | percentageDisplay}}</div>
      <span>Worst Trade</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
      <span *ngIf="positionResponse && positionResponse.averageTradeMinutes">{{getAvgTradeMinutes() | amTimeAgo:'true'}}</span>
      <span *ngIf="!positionResponse || !positionResponse.averageTradeMinutes">-</span>
      <span>Avg. Trade Time</span>
    </div>
  </div>
</div>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" class="fixed-header" matSort>
      <ng-container matColumnDef="asset">
        <th  mat-header-cell *matHeaderCellDef mat-sort-header="assetCode"> ACTIONS({{dataSource.data.length}}) </th>
        <td mat-cell *matCellDef="let order" (click)="onAssetClick(order.assetId)" class="pointer">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div><img class="asset-image" [src]="getAssetImgUrl(order.assetId)" onerror="this.style.display='none'" onload="this.style.display='unset'" /></div>
            <div fxLayout="column" fxLayoutGap.gt-sm="6px">
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start start" class="asset">
                  <span [class]="order.type == 1 ? 'red-label' : 'green-label'">{{getOrderDescription(order)}}</span>
                  <span fxHide.lt-sm> - </span>{{order.assetCode}}
              </div>
              <span *ngIf="order.actionType == 3 || order.actionType == 4" class="action-type">triggered by {{getCloseReasonDescription(order.actionType)}}</span>
            </div>
          </div>
        </td>
      </ng-container>  
      <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="quantity"> UNITS </th>
        <td mat-cell *matCellDef="let order"> {{order.quantity | valueDisplay: ''}} </td>
      </ng-container>
  
      <ng-container matColumnDef="open">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="openPrice"> OPEN </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order"> {{order.openPrice | valueDisplay}} </td>
      </ng-container>
  
      <ng-container matColumnDef="openTime">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="openDate"> OPEN TIME </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order">
            {{order.openDate | date:'dd/MM/yy'}}<br>
            <span>{{order.openDate | date:'HH\'h\'mm'}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="close">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="price"> CLOSE </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order"> {{order.price | valueDisplay}} </td>
      </ng-container>
  
      <ng-container matColumnDef="closeTime">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="statusDate"> CLOSE TIME </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order">
            {{order.statusDate | date:'dd/MM/yy'}}<br>
            <span>{{order.statusDate | date:'HH\'h\'mm'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="PL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="profit"> P/L </th>
        <td mat-cell *matCellDef="let order" >
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px" [matTooltip]="getProfitTooltip(order)" #tooltipProfit="matTooltip" (click)="tooltipProfit.toggle()">
            <percentage-display [value]="order.profit"></percentage-display>
            <span [class]="order.profitValue >= 0 ? 'green-label':'red-label'">{{order.profitValue | valueDisplay}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="fee"> FEE </th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let order">
            {{order.fee | valueDisplay}}
        </td>
      </ng-container>

      <ng-container matColumnDef="footerRow">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
          Start trading and check the closed positions here!
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
      <tr [class.hidden]="dataSource && dataSource.data && dataSource.data.length > 0" mat-footer-row *matFooterRowDef="['footerRow']" class="footer-row"></tr>
    </table>
  </div>
