<div>
  <a routerLink="/advisor-details/{{advisor.userId}}">View profile</a>
</div>
<div>
    <img [src]="getAdvisorImgUrl()">
  </div>
<div>
  Name: {{advisor.name}}
</div>
<div>
  Description: {{advisor.description}}
</div>
<div>
  Success Rate: {{advisor.successRate}}
</div>
<div>
  Average Return: {{advisor.averageReturn}}
</div>
<div>
  Ranking: {{advisor.ranking}}
</div>
<div>
  Number Of Followers: {{advisor.numberOfFollowers}}
</div>
<div>
  Following: {{advisor.following}}
</div>
<div>
  Rating: {{advisor.rating}}
</div>
<div *ngIf="advisor.following">
    <button (click)="onUnfollowClick()">UNFOLLOW</button>
</div>
<div *ngIf="!advisor.following">
  <button (click)="onFollowClick()">FOLLOW</button>
</div>