:host{
    background-color: #252525;
    display: inline-flex;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
}

.advisor-card-container{
    width: 268px;
}

.expert-details-div{
    cursor: pointer;
}

.top-border{
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to left, #07d1ff, #126efd);
}

.expert-picture{
    margin: auto;
    margin-top: 21px;
    position: relative;    
    background-color: white;
}

.expert-picture,
.expert-picture img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.expert-ranking{
    width: 43px;
    height: 43px;
    line-height: 43px;
    border-radius: 22px;
    background-color: #126efd;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    bottom: 0px;
    position: absolute;
    font-weight: 500;
}

.expert-name{
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.expert-description{
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: #e6e6e6;
    margin-left: 10px;
    margin-right: 10px;
}

.expert-card-content{
    background-color: #cccccc;
    color: #333333;
    padding-top: 16px;
    padding-bottom: 16px;
}

.expert-ranking-description{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.followed-by{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #126efd;
    margin-bottom: 14px;
}

.separator{
    margin-left: 12px;
    margin-right: 12px;
    height: 1px;
    background-color: #00000033;
}

.expert-rates{
    padding-top: 15px;
}

.success-rate-column,
.average-return-column{
    width: 50%;
    display: inline-block;
}

.success-rate,
.average-return{
    height: 74px;
    width: 74px;
    line-height: 74px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 6px auto;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
}

.success-rate{
    border-radius: 50px;
    border-color: #333333;
    font-size: 19px;
    font-weight: bold;
}

.average-return{
    font-size: 26px;
    display: inline-block;    
}

.success-rate-description,
.average-return-description{
  font-size: 11px;
  text-align: center;
  color: #262626;
  font-weight: bold;
}

.recommendation-distribution {
    padding: 16px 0;
    line-height: 14px;
}

.recommendation-distribution div{
    min-width: 50px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #e6e6e6;
    font-weight: 100;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
}

.close-distribution{
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}

.distribution-follow-divider{
    background-color: #898989;
    margin-bottom: 13px;
}

.follow-link{
    margin-bottom: 13px;
 
    text-align: center;
    color: #126ffd;
    cursor: pointer;
}

.follow-link.unfollow{
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
}
.follow-link span{
    font-size: 14px;
    font-weight: 900;
}

.circular-chart{
    width: 90px;
}

.circular-chart .percentage {
    fill: #333;
    font-size: 8px;
    text-anchor: middle;
    font-weight: bold;
}