<div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >
      <ng-container matColumnDef="asset">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="assetName" class="text-left chart-title">OPEN POSITIONS</th>
        <td mat-cell *matCellDef="let position,  let i = index" class="text-left">
          <asset-summary [assetId]=position.assetId [assetCode]=position.assetCode [assetName]=position.assetName [transferToDetailsPage]="true"></asset-summary>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="units">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.totalQuantity">UNITS</th>
        <td mat-cell *matCellDef="let position">
          {{ position.positionResponse.totalQuantity | valueDisplay:'' }}<br />
          <span [class]=" position.positionResponse.type == constantsProxy.OrderType.Buy ? 'green-label' : 'red-label'">
            {{position.positionResponse.type == constantsProxy.OrderType.Buy ? "BUYING" : "SELLING"}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.totalVirtual">VALUE</th>
        <td mat-cell *matCellDef="let position">
          {{ position.positionResponse.totalVirtual | valueDisplay }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="avgOpen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.averagePrice">AVG. OPEN</th>
        <td mat-cell *matCellDef="let position">
          {{ position.positionResponse.averagePrice | valueDisplay }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="PLValue">
        <th ngClass.lt-sm="hidden" mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.totalProfit">P/L ($)</th>
        <td ngClass.lt-sm="hidden" mat-cell *matCellDef="let position">
          <span [class]=" position.positionResponse.totalProfit >= 0 ? 'green-label' : 'red-label'">
            {{ position.positionResponse.totalProfit | valueDisplay }}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="PLPercentage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.averageReturn">P/L (%)</th>
        <td mat-cell *matCellDef="let position">
          <percentage-display [value]="position.positionResponse.averageReturn"></percentage-display>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="footerRow">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
              No open positions at the moment!
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns"
        class="position-row" ></tr>
      <tr [class.hidden]="!initialized || (dataSource && dataSource.data && dataSource.data.length > 0)" mat-footer-row *matFooterRowDef="['footerRow']" class="footer-row"></tr>
    </table>
  </div>
  