<div class="section-title">
  Top Experts
</div>
<div class="section-subtitle">
  Follow the top experts and get the best recommendations!
</div>
<div class="section-filter" *ngIf="!hideFilters">
  <mat-form-field>
    <mat-select placeholder="Experts sorted by"
          (selectionChange)="onSortOptionChanged()" [(ngModel)]="selectedSortOption">
          <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{sortOption.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="advisors-list">
  <advisor-card *ngFor="let expert of experts" class="advisor-card" [advisor]="expert" [advisorsLength]="experts.length"></advisor-card>
</div>
<div>
  <div *ngIf="resultsLimit > 0" class="access-button" (click)="goToTopExperts()">
    FIND MORE
  </div>
  <div *ngIf="!resultsLimit && hasMoreExperts()" class="access-button" (click)="loadMoreExperts()">
    LOAD MORE
  </div>
</div>
<trending-assets *ngIf="!resultsLimit"></trending-assets>