.advisors-list{
    text-align: center;
    margin-bottom: 38px;
}

.advisors-list advisor-card{
    margin-left: 10px;
    margin-right: 10px;
}

.section-filter{
    max-width:200px;
    margin: 10px auto;
}

.section-title{
    padding-bottom: 56px;
}

:host ::ng-deep .mat-select-value {
    color: white;
}

:host ::ng-deep .mat-select-arrow {
    color: white;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #1270fd;
}

:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #1270fd;
}

:host ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #1270fd;
}

::ng-deep .experts-sort-option.mat-option.mat-selected:not(.mat-option-disabled) {
    color: #1270fd;
    background: #151515;
}

::ng-deep .experts-sort-option.mat-option {
    color: white;
    background: #151515;
}

::ng-deep .mat-option:focus:not(.mat-option-disabled), 
::ng-deep .mat-option:hover:not(.mat-option-disabled) {
    background: #252525;
}