.advisors-list{
    text-align: center;
}

.advisors-list advisor-card{
    margin-left: 10px;
    margin-right: 10px;
}

.section-filter{
    max-width:200px;
    margin: 10px auto;
}

.section-title{
    padding-bottom: 56px;
}