<div class="global-container">
  <div class="section-title">
    {{title}}
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" class="section-filter" *ngIf="!hideFilters">
    <mat-form-field>
      <mat-select class="experts-sort" placeholder="Experts sorted by"
            (selectionChange)="onSortOptionChanged()" [(ngModel)]="selectedSortOption">
            <mat-option class="experts-sort-option" *ngFor="let sortOption of sortOptions" [value]="sortOption.value">{{sortOption.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="spacer"></div>
    <div class="blue-button action-button" *ngIf="showAdvisorButton" (click)="onNewAdviceClick()">NEW RATING</div>
    <div class="white-button action-button" *ngIf="showAdvisorButton" (click)="onEditProfileClick()">EDIT PROFILE</div>
  </div>
  <div class="advisors-list" fxHide.lt-md>
    <advisor-card *ngFor="let expert of experts" class="advisor-card" [advisor]="expert"></advisor-card>
  </div>
  <div class="advisors-list" fxHide.gt-sm>
    <owl-carousel *ngIf="experts && experts.length > 0"
      [options]="{items: 1, dots: true, navigation: false}"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <advisor-card *ngFor="let expert of experts" class="advisor-card" [advisor]="expert"></advisor-card>
    </owl-carousel>
  </div>
  <div>
    <div *ngIf="resultsLimit > 0" class="blue-button access-button" (click)="goToTopExperts()">
      FIND MORE
    </div>
    <div *ngIf="!resultsLimit && hasMoreExperts()" fxLayoutAlign="center center">
      <button [promiseBtn]="promise" class="pagination-link" (click)="loadMoreExperts()">
          LOAD MORE
      </button>
    </div>
  </div>
</div>
<trending-assets class="global-container-min inverted" *ngIf="!resultsLimit"></trending-assets>