.reports-container{
    background-color: #252525;
    display: flex;
}

.blue-button.action-button {
    margin-top: 4px;
    height: 58px;
    line-height: 58px;
}

.pagination-link {
    margin-top: 22px;
    margin-bottom: 22px;
}

.no-report-message {
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 25px;
    color: white;
}

.coin-report-search {
    max-width: 225px;
}