.file-container {
    position: relative; 
}

.file-container-web {
    padding-top: 15%; 
    width: 15%;  
}

.file-container-mobile {
    padding-top: 50%; 
    width: 50%;  
}

.file-container-tablet {
    padding-top: 25%; 
    width: 25%;  
}

.file-uploader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.input-description-tablet {
    width: 75%;
}

.input-description-web {
    width: 60%;
}