<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="file-container" ngClass.xs="file-container-mobile" ngClass.sm="file-container-tablet" ngClass.gt-sm="file-container-web"> 
        <div class="file-uploader">
            <file-uploader #FileUploadComponent></file-uploader>
        </div>
    </div>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <inheritance-input #Name [options]="getNameOptions()"  ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
        [value]="advisor.name" (onChange)="advisor.name = $event"></inheritance-input>
    <inheritance-input #Description [options]="getDescriptionOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-description-tablet" ngClass.gt-sm="input-description-web"
        [value]="advisor.description" (onChange)="advisor.description = $event"></inheritance-input>
</div>
<div class="div-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <button class="btn-modal" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" 
        mat-flat-button (click)="save()" [promiseBtn]="promise">Save</button>
</div>