.file-container {
    position: relative; 
    width: 130px;
    height: 130px;
}

.file-uploader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.input-description-tablet {
    width: 75%;
}

.input-description-web {
    width: 60%;
}