<div fxHide.lt-md class="box-header">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    EXPERTS
    <div class="blue-button action-button-sm recommendation-btn truncate" *ngIf="showRatingButton" (click)="onNewAdviceClick()">NEW SIGNAL</div>
    <div class="blue-button action-button-sm become-btn truncate" *ngIf="!showRatingButton" (click)="onBecomeExpertClick()">BECOME EXPERT</div>
  </div>
  <div class="top-triangle"></div>
</div>
<div class="box-container">
<table class="box-table" mat-table [dataSource]="ratings">
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.adviceDate | timeAgo}} </td>
  </ng-container>
  <ng-container matColumnDef="recommendation">
    <th mat-header-cell *matHeaderCellDef> Signal </th>
    <td mat-cell *matCellDef="let element"> 
      <div [style.color]="getAdviceTypeColor(element.adviceType)">{{getRecommendation(element)}}</div> 
      <div fxHide.gt-xs *ngIf="element.targetPrice">Take profit: {{element.targetPrice | valueDisplay}}</div>
      <div fxHide.gt-xs *ngIf="element.stopLoss">Stop Loss: {{element.stopLoss | valueDisplay}}</div>
      
    </td>
  </ng-container>
  <ng-container matColumnDef="target">
    <th mat-header-cell *matHeaderCellDef> <span fxHide.lt-sm> Take Profit </span> </th>
    <td mat-cell *matCellDef="let element"> <span fxHide.lt-sm> {{element.targetPrice | valueDisplay}} </span></td>
  </ng-container>
  <ng-container matColumnDef="stopLoss">
    <th mat-header-cell *matHeaderCellDef> <span fxHide.lt-sm>Stop Loss</span> </th>
    <td mat-cell *matCellDef="let element"> <span fxHide.lt-sm> {{element.stopLoss | valueDisplay}} </span></td>
  </ng-container>
  <ng-container matColumnDef="expert">
    <th mat-header-cell *matHeaderCellDef> Expert </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="getExpertDetailsUrl(element)" target="_blank"> {{element.expertName}} </a>
      <div fxHide.gt-xs class="expert-rating">
        <bar-rating [theme]="'fontawesome-o'" [readOnly]="'true'" [rate]="element.expertRating" [title]="element.expertRating | number: '1.2-2'"></bar-rating>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef><span fxHide.lt-sm> Rating </span></th>
    <td mat-cell *matCellDef="let element"> 
      <div class="expert-rating" fxHide.lt-sm>
        <bar-rating [theme]="'fontawesome-o'" [readOnly]="'true'" [rate]="element.expertRating" [title]="element.expertRating | number: '1.2-2'"></bar-rating>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="box-message" *ngIf="ratings == null">Loading...</div>
<div class="box-message" *ngIf="ratings != null && ratings.length == 0">There's no ratings of this asset.</div>
</div>