.box-header{
    color: #126efd;
}

.top-triangle{
    border-right-color: #126efd;
}

td.mat-column-expert{
    cursor: pointer;
}

.expert-rating{
    justify-content: unset;
    margin: 4px 0;
}

@media(max-width:599px){
    td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
        padding-left: 10px;
    }

    td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
        padding-right: 10px;
    }
}

.recommendation-btn{
    width: 140px;
}

.become-btn{
    width: 100px;
}