.mat-column-link.mat-cell{
    color: #07d0ff;
}

.no-event-rating{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.event-title{
    font-size:16.5px;
    font-weight: 300;
}

.event-date{
    font-size: 12px;
    font-style: italic;
}