<div class="countdown-subtitle {{theme}}" fxLayout="row" >
  <div class="countdown-border"></div>
  <span>Current contest ends in:</span>
  <div class="countdown-border"></div>
</div>
<div class="countdown {{theme}}" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div class="countdown-item" fxLayoutAlign="start end">
    <div class="day-value">{{days}}</div>
    <div class="day-label">Days</div>
  </div>
  <div class="countdown-item" fxLayoutAlign="start end">
    <div class="day-value">{{hours}}</div>
    <div class="day-label">Hours</div>
  </div>
  <div class="countdown-item" fxLayoutAlign="start end">
    <div class="day-value">{{minutes}}</div>
    <div class="day-label">Min</div>
  </div>
  <div class="countdown-item" fxLayoutAlign="start end">
    <div class="day-value">{{seconds}}</div>
    <div class="day-label">Sec</div>
  </div>
</div>