<div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <ng-container matColumnDef="positions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="statusDate"> Positions <div class="dark-triangle"></div></th>
        <td mat-cell *matCellDef="let order" class="text-left">
            <span [class]="utilProxy.GetOrderTypeText(order.type).toLowerCase() == 'sell'? 'red-label':'green-label'">{{utilProxy.GetOrderTypeText(order.type).toUpperCase()}}</span> <span fxHide.lt-sm >{{order.assetCode}}</span>  <br fxHide.lt-sm>
          <span fxHide.lt-sm>{{order.statusDate | date:'dd/MM/yy HH\'h\'mm'}}</span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="remainingQuantity"> Units </th>
          <td mat-cell *matCellDef="let order"> {{order.remainingQuantity | valueDisplay: ''}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="invested"> Value </th>
        <td mat-cell *matCellDef="let order"> {{order.invested | valueDisplay}} </td>
      </ng-container>
      
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="price"> Open </th>
        <td mat-cell *matCellDef="let order"> {{order.price | valueDisplay}} </td>
      </ng-container>

      <ng-container matColumnDef="PL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="profit"> P/L </th>
        <td mat-cell *matCellDef="let order">
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">     
            <ticker-percentage-field [startValue]="order.profit" [orderType]="order.type" [priceValue]="order.price" [quantityValue]="order.remainingQuantity" [pair]="order.pair" (onNewValue)="onNewPercentageProfit($event, order)"></ticker-percentage-field>
            <ticker-profit-field [startValue]="order.profitValue" [orderType]="order.type" [priceValue]="order.price" [quantityValue]="order.remainingQuantity" [pair]="order.pair"(onNewValue)="onNewProfit($event, order)"></ticker-profit-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="SL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="stopLoss"> SL </th>
        <td mat-cell *matCellDef="let order">
          <a matRipple *ngIf="order.canBeEdited" [class]="order.stopLoss==undefined ? '' : 'editable-field' " (click)="onEditStopLoss(order)">{{order.stopLoss==undefined?"":order.stopLoss | valueDisplay}}
             <fa-icon *ngIf="order.stopLoss==undefined" title="Edit"icon="edit" ></fa-icon>
          </a>
          <span *ngIf="!order.canBeEdited">
            {{order.stopLoss==undefined?"-":order.stopLoss | valueDisplay}}</span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="TP">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="takeProfit"> TP </th>
        <td mat-cell *matCellDef="let order">
          <a matRipple *ngIf="order.canBeEdited" [class]="order.takeProfit==undefined ? '' : 'editable-field' " (click)="onEditTakeProfit(order)">{{order.takeProfit==undefined?"":order.takeProfit | valueDisplay}}
            <fa-icon *ngIf="order.takeProfit==undefined" title="Edit"icon="edit" ></fa-icon>
          </a>
          <span *ngIf="!order.canBeEdited">
            {{order.takeProfit==undefined?"-":order.takeProfit | valueDisplay}}
          </span>
        </td>
      </ng-container>
     
      <ng-container matColumnDef="close">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let order">
          <button matRipple *ngIf="order.canBeEdited" [promiseBtn]="promise" (click)="closeOrder(order)">Close</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
    </table>
  </div>
