

.top-platform-image {
    text-align: center;
    vertical-align: middle;
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
  }
  
.top-platform-image img {
    width: 100%; 
    pointer-events: none;
    outline: none;
    opacity: 0.5;
}

.top-platform-text {
    color: white;
    letter-spacing: 0.5px;
    max-width: 570px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    position: absolute;
}

.top-platform-image span {
    font-weight: 100;
}

.top-platform-image h2 {
    padding-bottom: 30px;
}

.top-platform-image .auctus-blue-bar {
    width: 40%;
    max-width: 380px;
    min-width: 180px;
    height: 4px;
    top: 100%;
    position: absolute;
    background-image: linear-gradient(to left, #07d1ff, #126efd);
}