.mat-column-source{
    width: 80px;
    padding-right: 5px;
}
 a:visited {
    color: #707070;
}
 .signalR{
    background-color: #404040;
}
 ::ng-deep .mat-row{
    -webkit-transition: background-color 5s; /* Safari */
    transition: background-color 5s;
}

.box-container{
    height: 100%;
    overflow: auto;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px !important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 5px !important;
}

.mat-column-title a{
    font-size: 11px;
}

.mat-column-source span {
    font-size: 10px;
}

.box-message{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
}