:host{
    background-color: #f7f7f7;
    padding-top:60px;
    padding-bottom:26px;
}

.separator{
    margin-bottom: 18px;
    height: 1px;
    background-color: #363636;
}

.footer-item-title{
    font-size: 17px;
    font-weight: bold;
    color: #212121;
    margin-bottom:22px;
}

.footer-item{
    font-size: 15px;
    font-weight: 500;
    color: #212121;
    margin-bottom:12px;
}

.icon-wrapper{
    width: 40px;
    height: 40px;
    border-radius: 22px;
    border: solid 1px #151515;
}

.icon-wrapper fa-icon{
    margin-top:9px;
    margin-bottom:9px;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.copright-terms-privacy{
    font-size: 11px;
    font-weight: 500;
    color: #212121;
}

.disclaimer {
    font-size: 12px;
    color: #212121;
    padding-bottom: 25px;
    text-align: justify;
}
