<div class="global-container">
  <div class="separator"></div>
  <div fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between start" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-between center" fxLayoutGap.lt-sm="20px">
    <img [src]="getLogoImgUrl()" routerLink="" class="landing-logo">
    <div fxLayout="row" fxLayoutGap="100px">
      <div fxLayout="column" fxHide.lt-md>
        <div class="footer-item-title">HOME</div>
        <div routerLink="/top-experts" class="footer-item"><a>Top Experts</a></div>
        <div routerLink="/top-assets" class="footer-item"><a>Top Assets</a></div>
        <div routerLink="/about-us" class="footer-item"><a>About Us</a></div>
      </div>
      <div fxLayout="column" fxHide.lt-sm>
        <div class="footer-item-title">CONTACT</div>
        <div class="footer-item"><a href="mailto:contact@auctus.org">contact@auctus.org</a></div>
      </div>
      <div fxLayout="column">
        <div class="footer-item-title text-right" fxHide.lt-sm>FOLLOW US</div>
        <div class="footer-item" fxLayout="row" fxLayoutGap="8px">
          <a href="https://www.facebook.com/AuctusProject/" target="_blank">
            <div class="icon-wrapper">
              <fa-icon [icon]="['fab','facebook-f']" size="lg" fxLayoutAlign="center stretch"></fa-icon>
            </div>
          </a>
          <a href="https://twitter.com/AuctusProject" target="_blank">
            <div class="icon-wrapper">
              <fa-icon [icon]="['fab','twitter']" size="lg" fxLayoutAlign="center stretch"></fa-icon>
            </div>
          </a>
          <a href="https://t.me/AuctusProject" target="_blank">
            <div class="icon-wrapper">
              <fa-icon [icon]="['fab','telegram-plane']" size="lg" fxLayoutAlign="center stretch"></fa-icon>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="copright-terms-privacy" fxLayout="row" fxLayoutAlign="space-between center">
    <div>All rights reserved. Copyrights © 2018</div>
    <div class="terms-privacy" fxLayoutGap="6px">
      <a href="https://dl.auctus.org/Privacy_Policy.pdf" target="_blank">Privacy</a>
      <span>|</span>
      <a href="https://dl.auctus.org/Terms_of_Use.pdf" target="_blank">Terms</a>
    </div>
  </div>
</div>