/deep/ #spinner{
    height: unset !important;
    opacity: unset !important;
    background-color: unset !important;
    display: unset !important;
  }

  .mat-fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #126efd;
  }
  
  @media(min-width: 1024px) {
     .mat-fab {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }