<div class="events-container global-container-min">
    <div class="global-container">
        <div class="section-title">
            Upcoming Events
        </div>
        <div class="section-subtitle">
            Cryptocurrency calendar events from CoinMarketCal
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxHide.lt-md fxLayoutAlign="center top" fxLayoutGap="16px">
            <coin-search class="coin-event-search" #CoinSearch [options]="getSearchOptions()"></coin-search>
            <div class="blue-button action-button" *ngIf="showNewAdviceButton" (click)="onNewAdviceClick()">NEW SIGNAL</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <event-card *ngFor="let event of events" [eventFeed]="event"></event-card>
            <span class="no-event-message" *ngIf="firstLoaded && events && events.length == 0">There's no event of this asset.</span>
            <button [promiseBtn]="promise" class="pagination-link" *ngIf="hasMoreEvents" (click)="loadMoreEvents()">
                LOAD MORE
            </button>
        </div>
    </div>
</div>