<div class="top-assets-container">
    <div class="global-container">
        <div class="section-title">
            Top Assets
        </div>

        <div class="section-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis<br>
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="left top" fxLayoutGap="16px">
            <coin-search #CoinSearch [options]="getSearchOptions()"></coin-search>
            <div class="blue-button action-button" *ngIf="showNewAdviceButton" (click)="onNewAdviceClick()">NEW RECOMMENDATION</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <asset-card *ngFor="let asset of assets" [asset]="asset"></asset-card>
            <div class="pagination-link" *ngIf="hasMoreAssets()" (click)="loadMoreAssets()">
                LOAD MORE
            </div>
            <div class="section-subtitle">
                Disclaimer: Auctus Experts collects ratings and price targets of analysts by scanning publicly available 
                reports on financial websites and by receiving reports directly from the analysts or from our users. 
                The information displayed might not be accurate or up to date. The displayed ratings are made entirely at 
                the sole discretion of the analysts. Auctus Experts holds no liability over the analysts’ information or opinions 
                expressed on the site.
            </div>
        </div>
    </div>
</div>