.copy-link-button {
    font-size: 12px;
    font-weight: 300;
    background-color: #126efd;
    color: white;
    min-width: 50px;
    cursor: pointer;
    line-height: 20px;
    display: table-caption;
    text-align: center;    
}