<div class="asset-card" fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px" fxLayoutGap.xs="5px" fxLayoutAlign="left center">
  <div class="asset-icon">
    <img [src]="getAssetImgUrl()">
  </div>
  <div class="asset-info" fxLayout="column">
    <div class="symbol">{{asset.code}}</div><div class="asset-name">{{asset.name}}</div>
    <div class="white-button action-button-sm" *ngIf="asset.following" (click)="onUnfollowClick()">
      Unfollow
    </div>
    <div class="blue-button action-button-sm" *ngIf="!asset.following" (click)="onFollowClick()">
      Follow
    </div>
  </div>
  <div class="ratings-distribution" fxLayout="row">
    <recommendation-distribution [data]="asset.recommendationDistribution" [showTitle]="'true'"></recommendation-distribution>
  </div>
  <general-recommendation-tag [value]="asset.mode"></general-recommendation-tag>
  <div class="price">
    {{getLastValue()}}
  </div>
  <percentage-display [value]="asset.variation24h"></percentage-display>
  <div class="blue-button action-button" *ngIf="showButtonForExpert" (click)="onGiveRecommendationClick()">
    Recommend
  </div>
</div>