.asset-card{
    padding: 15px;
    border-bottom: solid 1px #707070;
    cursor: pointer;
}

.symbol {
    font-size: 20px;
    line-height: 0.7;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 5px;
}

.asset-name {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .asset-info {
      width: 100px;
  }

  button {
      min-width: 0px;
      padding: 0 9px;
  }

  .mat-raised-button {
    
    height: 15px;
    font-size: 7px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
  }

  .mat-button {
    height: 15px;
    font-size: 6px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
    color: #4e4e4e;
  }

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

percentage-display {
    width: 75px;
}