.asset-card{
    padding: 15px;
    border-bottom: solid 0.5px #707070;
}

.symbol {
    font-size: 20px;
    line-height: 0.7;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 5px;
}

.asset-name {
    font-size: 10px;
    font-weight: 300;
    line-height: 1.4;
  letter-spacing: 0.3px;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .asset-info {
      width: 100px;
  }

  button {
      min-width: 0px;
      padding: 0 9px;
  }

  .mat-raised-button {
    
    height: 15px;
    font-size: 7px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
  }

  .mat-button {
    height: 15px;
    font-size: 6px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: 0.2px;
    color: #4e4e4e;
  }

.price {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: 0.3px;
    text-align: right;
    color: #ffffff;
    width: 70px;
}

.variation{
    width: 50px;
    color: #ffffff;
}

.variation.bull{
    color: #3ed142;
}

.variation.bear{
    color: #d13e3e;
}

.arrow{
    display: inline;
}

.general-recommendation-box{
    height: 25px;
    width: 114px;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.27;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
}

.general-recommendation-box.neutral{
    background-color: black;
}

.general-recommendation-box.moderate-buy{
    background-color: #63c96f;
}

.general-recommendation-box.strong-buy{
    background-color: green;
}

.general-recommendation-box.moderate-sell{
    background-color: #f99d00;
}

.general-recommendation-box.strong-sell{
    background-color: brown;
}

.general-recommendation-box.close{
    background-color: grey;
}