<div class="feed-card" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="30px" fxLayoutGap.lt-md="10px">
    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="10px">
        <div class="feed-picture">
          <img [src]="getEventImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'" />
        </div>
      <div fxLayout="column" class="feed-name-column" fxLayoutAlign.gt-xs="center start" fxLayoutAlign.lt-sm="center center" >
        <div fxLayout="row" class="tag yellow">
          <div class="tag-description">Event</div>
          <div class="after-triangle"></div>
        </div>
        <div class="feed-name truncate" [title]="eventFeed.event.title">
          {{eventFeed.event.title}}
        </div>
        <div class="event-date">
          {{eventFeed.event.eventDate | date : 'longDate'}}<span *ngIf="eventFeed.event.canOccurBefore">&nbsp;(or earlier)</span>
        </div>
      </div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="10px">
      <div fxLayout="column" (click)="goToAssetDetails()" class="asset-column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.lt-sm="center center" fxLayoutGap="10px">
          <div fxHide.lt-sm class="asset-icon">
            <img [src]="getAssetImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'"/>
          </div>
          <div class="asset-code-name" fxLayout="column" fxLayoutAlign.gt-xs="center start" fxLayoutAlign.lt-sm="center center">
            <div class="table-asset-code">
              {{eventFeed.assetCode}}
            </div>
            <span class="asset-name truncate">{{eventFeed.assetName}}</span>
          </div>
        </div>  
        <div class="follow-btn white-button action-button-sm" *ngIf="eventFeed.followingAsset" [promiseBtn]="promise" (click)="onUnfollowClick($event)">
          Unfollow
        </div>
        <div class="follow-btn blue-button action-button-sm" *ngIf="!eventFeed.followingAsset" [promiseBtn]="promise" (click)="onFollowClick($event)">
          Follow
        </div>
      </div>
      <div fxHide.lt-md class="feed-time" title="{{eventFeed.date | date: 'medium'}}">
        {{eventFeed.date | timeAgo}}
      </div>
      <div fxLayout="column" class="download-column" fxLayoutAlign="center stretch" >
        <span fxLayoutAlign="center center" fxHide.gt-sm>{{eventFeed.date | timeAgo}}</span>
        <div fxLayout="column" class="download-link" >
          <a [href]="getEventUrl()" target="_blank">
            <div fxHide.lt-sm class="blue-button action-button-sm">
              View Proof
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>