.main-content {
    border: solid 2px #ffffff;
    color: white;
    padding: 25px;
}

.disabled-button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-image: none;
    color: gray;
    cursor: default;
    text-align: center;
}

.request-expert {
    color: white;
    padding: 25px;
}

.link-request {
    text-decoration: underline;
}

.discount {
    padding-bottom: 25px;
}
