.main-content {
    border: solid 1px #ffffff;
    color: white;
    padding: 25px;
}

.disabled-button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-image: none;
    color: gray;
    cursor: default;
    text-align: center;
}

.request-expert {
    color: white;
    padding: 25px;
    text-align: center;
}

.link-request {
    text-decoration: underline;
}

.spacetop {
    padding-top: 20px;
}

::ng-deep .widget-bancor {
    max-width: 90vw;
    width: 100%;
    background-color: #151515;
}

::ng-deep .widget-bancor div {
    border: none !important;
}

::ng-deep .widget-bancor span {
    color: white !important;
}

.times-icon {
    color: #e84737;
    padding-right: 10px;
}

.check-icon {
    color: #3ed142;
}

.width100 {
    width: 100%;
}

.logged-wallet {
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}