<top-image [title]="getTopTitle()" [subtitle]="getTopText()" [urlImage]="getTopImage()"></top-image>
<div class="global-container">
  <div class="main-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
    <div ngClass.gt-sm="left-container" ngClass.lt-md="top-container">
      <div fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="50px">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <span *ngIf="!hasMetamask"><fa-icon icon="circle"class="circle-icon" fxLayoutAlign="center stretch"></fa-icon></span>
          <span *ngIf="hasMetamask"><fa-icon icon="check" class="check-icon" size="2x" fxLayoutAlign="center stretch"></fa-icon></span>
          <div fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px">
            <span *ngIf="hasMetamask" [style.color]="'#616161'">1 . Metamask is instaled.</span>
            <span *ngIf="!hasMetamask" [style.color]="'white'">1 . Please install Metamask.</span>
          </div>
          <div fxHide.gt-sm="true" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px">
            <span *ngIf="!hasMetamask" [style.color]="'white'">1 .  <a href="https://wallet.coinbase.com/" target="_blank">Coinbase</a>, <a href="https://www.cipherbrowser.com/" target="_blank">Cipher</a> or <a href="https://status.im/" target="_blank">Status</a> wallet required.</span>
            <span *ngIf="hasMetamask" [style.color]="'#616161'">1 . Web3 browser ok.</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <span *ngIf="!hasUnlockedAccount"><fa-icon icon="circle"class="circle-icon" fxLayoutAlign="center stretch"></fa-icon></span>
          <span *ngIf="hasUnlockedAccount"><fa-icon icon="check" class="check-icon" size="2x" fxLayoutAlign="center stretch"></fa-icon></span>
          <div *ngIf="!hasUnlockedAccount" fxHide.lt-md="true" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px">
            <p>2 . Metamask is locked.</p>
          </div>
          <div *ngIf="!hasUnlockedAccount" fxHide.gt-sm="true" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px">
            <p>2 . Wallet is locked.</p>
          </div>
          <p *ngIf="hasUnlockedAccount" class="logged-wallet" >2 . Logged with {{account}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
          <span *ngIf="!this.hasAuc()"><fa-icon icon="circle"class="circle-icon" fxLayoutAlign="center stretch"></fa-icon></span>
          <span *ngIf="this.hasAuc()"><fa-icon icon="check" class="check-icon" size="2x" fxLayoutAlign="center stretch"></fa-icon></span>
          <p [style.color]="this.hasAuc() ? '#616161' : 'white'">3 . Hold <b>{{aucRequired}} AUC</b>. {{missingAmountMessage()}}</p>
        </div>
      </div>
      <div *ngIf="showReferral" class="referral-container" fxLayout="column" fxLayoutAlign="space-evenly center">
          <inheritance-input #Referral [options]="getReferralOptions()" class="referral-input" [value]="referralCode" (onChange)="onChangeReferralCode($event)"></inheritance-input>
          <span class="valid-referral-check" *ngIf="discountMessage.length > 0"><fa-icon icon="check" class="check-icon" size="1x" fxLayoutAlign="center stretch"></fa-icon></span>
      </div>
    </div>
    <div>
      <div class="width100" *ngIf="!hasMetamask" class="text-center" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="25px">
        <span fxHide.lt-md=true>
            To get access to the platform please install Metamask plugin.<br> 
            Click on the image bellow to download it!
        </span>
        <div fxHide.lt-md=true class="width100" fxLayout="row" fxLayout.gt-sm="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <a href="https://metamask.io/" target="_blank"><img class="metamask-logo" [src]="getImgSrc('metamask')"/></a>
        </div>        
        <div fxHide.gt-sm=true class="web3-providers" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <span >
            Please, use a Web3 provider browser such as:
          </span>
          <a href="https://wallet.coinbase.com" target="_blank"><span>COINBASE WALLET</span></a>
          <a href="https://www.cipherbrowser.com" target="_blank"><span>CIPHER</span></a>
          <a href="https://status.im" target="_blank"><span>STATUS WALLET</span></a>
        </div>                     
      </div>
      <div class="width100" *ngIf="hasMetamask && !hasUnlockedAccount" class="text-center" fxLayout="row" fxLayoutAlign="center center">
        <div>
          <span>
              Please, connect to <strong>Ethereum Mainnet</strong> <br> <br> and unlock your wallet.
          </span>
        </div>
        <div fxHide.lt-md=true fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
          <img class="unlock-metamask" [src]="getImgSrc('unlockmetamask')"/>
        </div>          
      </div>
      <div class="width100" *ngIf="!this.hasAuc() && hasMetamask && hasUnlockedAccount" class="text-center" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="25px">
        <span>
            To enter the platform you need to hold 5000 AUC.<br>
            However...
        </span>
        <span class="access-free bold">ACCESS IS FREE</span>
        <span>
            Your AUC tokens remains in your wallet, under your control at all times.<br>You can SELL your AUC whenever you want.
        </span>
        <div class="width100" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="30px">
          <a href="https://www.bitfinex.com" target="_blank"><img [src]="getImgSrc('bitfinex')"/></a>
          <a href="https://idex.market/eth/auc" target="_blank"><img [src]="getImgSrc('idex')"/></a>
          <a fxHide.gt-sm="true" href="https://www.bancor.network/communities/5ad9c1c5c7d1460001bc9bfa" target="_blank"><img img [src]="getImgSrc('bancor')"/></a>
          <a href="https://hitbtc.com/AUC-to-ETH" target="_blank"><img img [src]="getImgSrc('hitbtc')"/></a>
        </div>
        <div fxHide.lt-md="true" fxLayout="row" class="width100" fxLayoutAlign="space-evenly center">
          <div class="bancor-border" ></div>
          <img  [src]="getImgSrc('bancor')">
          <div class="bancor-border"></div>
        </div>
        <div fxHide.lt-md="true" class="width100" fxLayout="column" fxLayoutAlign="space-evenly center">
          <div class="widget-bancor" id="bancor-wc"></div>
        </div>
      </div>
    </div>
    <div class="width100" *ngIf="this.hasAuc() && hasMetamask && hasUnlockedAccount" class="text-center" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="25px">
      <p > <span class="access-free bold">ALMOST THERE</span> 
        <br>
        <br>
        <br>
        Please, sign a message to confirm that you are the wallet owner.</p>
        <br>
        <br>
      <div class="action-button truncate" [promiseBtn]="promise" [ngClass]="hasMetamask && hasUnlockedAccount && this.hasAuc() ? 'blue-button' : 'disabled-button'" (click)="signMessage()">CONFIRM</div>
    </div>
  </div>
  <div class="request-expert" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
    <span>Do you think you can give expert advise to others,or can refer more users? Apply to become a verified expert and get rewarded with AUC.&nbsp;<a class="link-request" (click)="becomeAdvisor()">Request</a></span>
  </div>
</div>
<advices></advices>
<trending-assets class="global-container-min inverted" [isWalletLogin]="true"></trending-assets>