.main-content {
    border: solid 1px #ffffff;
    color: white;
    padding: 25px;
}

.left-container{
    border-right: gray 1px solid;
    padding-right: 5%;
}

.disabled-button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-image: none;
    color: gray;
    cursor: default;
    text-align: center;
}

.request-expert {
    color: white;
    padding: 25px;
    text-align: center;
}

.link-request {
    text-decoration: underline;
}


::ng-deep .widget-bancor {
    max-width: 90vw;
    width: 100%;
    background-color: #151515;
}

::ng-deep .widget-bancor div {
    border: none !important;
}

::ng-deep .widget-bancor img {
    color: white !important;
}

::ng-deep .widget-bancor span {
    color: white !important;
}

::ng-deep .widget-bancor > div > div > div > div > div > div > div > span {
    display: none;
}

::ng-deep .widget-bancor > div > div > div > div > div > div:last-child > div:after {
    content: "BUY";
}

::ng-deep .widget-bancor > div > div > div > div > div > div > div > div > div > span {
    display: none !important;
}

::ng-deep .widget-bancor > div > div > div > div > div > div > div > div > div > div
{
    position: absolute;
    left: 45px;
    top: -10px;
}

.circle-icon {
    color: gray;
    padding: 0 11px;
    font-size: .5em;
}

.check-icon {
    color: #3ed142;
}

.width100 {
    width: 100%;
}

.logged-wallet {
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.referral-container{
    padding-top: 20px;
    position: relative;
}

.referral-input{
    width: 225px;
}

.referral-input input::placeholder{
    color: #616161;
}

.valid-referral-check{
    position: absolute;
    right: 10px;
}

.access-free {
    margin-bottom: 25px;
    color: #07d0ff;
    font-size: 35px;
}

.bancor-border{
    border-top: gray 1px solid;
    width:30%;
    height: 25px;
}

.bancor-border:first-child{
    border-left: gray 1px solid;
}

.bancor-border:last-child{
    border-right: gray 1px solid;
}

