<mat-form-field appearance="{{outlineField ? 'outline' : 'standard'}}" class="container-field" hideRequiredMarker>
  <mat-label [style.color]="disabled ? '' : (darkLayout ? 'white' : '#101010')">{{placeholder}}</mat-label>

  <input matInput *ngIf="showTextField()"
    [type]="getInputType()"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    [style.color]="disabled ? '' : (darkLayout ? 'white' : '#101010')"
    placeholder="{{placeholder}}" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    autocomplete="{{autocomplete}}"
    (change)="onChangeInput()"/>

  <textarea matInput *ngIf="showTextAreaField() && autosizeTextArea"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    [style.color]="disabled ? '' : (darkLayout ? 'white' : '#101010')"
    placeholder="{{placeholder}}" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    (change)="onChangeInput()"
    cdkTextareaAutosize 
    #autosize="cdkTextareaAutosize" 
    cdkAutosizeMinRows="{{minRows}}" 
    cdkAutosizeMaxRows="{{maxRows}}"></textarea>

  <textarea matInput *ngIf="showTextAreaField() && !autosizeTextArea"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    [style.color]="disabled ? '' : (darkLayout ? 'white' : '#101010')"
    placeholder="{{placeholder}}" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    (change)="onChangeInput()"
    rows="{{maxRows}}"></textarea>
  
  <mat-icon matSuffix *ngIf="inputType == 2 && showPasswordVisibility" (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
  <mat-hint *ngIf="getErrorMessage().length == 0 && (showHintSize || !!specificHint)" align="end">{{getHintText()}}</mat-hint>
  <mat-error *ngIf="getErrorMessage().length > 0">{{getErrorMessage()}}</mat-error>
</mat-form-field>