<mat-form-field appearance="{{outlineField ? 'outline' : 'standard'}}" [class]="formClass" hideRequiredMarker>
  <mat-label [class]="labelClass">{{placeholder}}</mat-label>

  <input matInput #Input *ngIf="showTextField()"
    [class]="inputClass"
    [type]="getInputType()"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    min="{{min}}" 
    max="{{max}}" 
    step="{{step}}"
    autocomplete="{{autocomplete}}"
    (change)="onChangeInput()"
    (click)="onInputClick()"/>

  <textarea matInput *ngIf="showTextAreaField() && autosizeTextArea"
    [class]="inputClass"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    (change)="onChangeInput()"
    cdkTextareaAutosize 
    #autosize="cdkTextareaAutosize" 
    cdkAutosizeMinRows="{{minRows}}" 
    cdkAutosizeMaxRows="{{maxRows}}"></textarea>

  <textarea matInput *ngIf="showTextAreaField() && !autosizeTextArea"
    [class]="inputClass"
    [(ngModel)]="value" 
    [formControl]="formControl" 
    required="{{required}}" 
    readonly="{{disabled}}"
    minlength="{{minlength}}" 
    maxlength="{{maxlength}}" 
    (change)="onChangeInput()"
    rows="{{maxRows}}"></textarea>
  
  <mat-icon matSuffix *ngIf="inputType == 2 && showPasswordVisibility" (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
  <mat-hint *ngIf="getErrorMessage().length == 0 && (showHintSize || !!specificHint)" align="end">{{getHintText()}}</mat-hint>
  <mat-hint *ngIf="copied" align="start">Link copied</mat-hint>
  <mat-error *ngIf="getErrorMessage().length > 0">{{getErrorMessage()}}</mat-error>
  <span *ngIf="suffixText" matSuffix [class]="suffixClass">{{suffixText}}</span>
  <span *ngIf="enableCopy" matSuffix class="copy-link-button" (click)="copyClick()">Copy</span>
</mat-form-field>