.inheritance-input-form {
    width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #959595;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-underline {
    background-color: #959595;
}

:host ::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline {
    background-color: #959595;
}

.inheritance-input-suffix {
    min-width: 60px;
    padding: 0.2em;
    display: table-caption;
    text-align: center;
}

::ng-deep .layout-theme-light {
    color: #101010;
}

::ng-deep .layout-theme-dark {
    color: #e6e6e6;
}

::ng-deep .layout-theme-light .mat-hint {
    color: #101010;
    letter-spacing: 0.4px;
}

::ng-deep .layout-theme-dark .mat-hint {
    color: #e6e6e6;
    letter-spacing: 0.4px;
}

::ng-deep .inheritance-input-disabled .mat-hint {
    color: #959595;
    letter-spacing: 0.4px;
}

::ng-deep .inheritance-input-disabled {
    color: #959595 !important;
}

:host ::ng-deep .layout-theme-dark input::placeholder {
    color: #e6e6e6 !important;
}

:host ::ng-deep .layout-theme-light input::placeholder {
    color: #101010 !important;
}

::ng-deep .inheritance-input-form.layout-theme-dark .mat-form-field-outline {
    color: #e6e6e6;
}

::ng-deep .inheritance-input-form.layout-theme-light .mat-form-field-outline {
    color: #101010;
}

::ng-deep .inheritance-input-form.inheritance-input-disabled .mat-form-field-outline {
    color: #959595;
}

.copy-link-button {
    font-size: 12px;
    font-weight: 300;
    background-color: #126efd;
    color: white;
    min-width: 50px;
    cursor: pointer;
    line-height: 20px;
    display: table-caption;
    text-align: center;    
    cursor: pointer;
}

.copy-link-button:hover{
    opacity: 0.9;
}