<div class="table-container">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort (matSortChange)="sortEvent()">
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="assetName">MARKET</th>
      <td mat-cell *matCellDef="let position,  let i = index" class="text-left">
        <div fxLayout="row" fxLayoutAlign=" center">
          <span *ngIf="!assetId">
            <fa-icon [icon]="'chevron-down'" ></fa-icon>
          </span>
          <asset-summary [assetId]=position.assetId [assetCode]=position.assetCode [assetName]=position.assetName [transferToDetailsPage]="true" (click)="onAssetSummaryClick($event)"></asset-summary>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.totalQuantity">UNITS</th>
      <td mat-cell *matCellDef="let position">
        {{ position.positionResponse.totalQuantity | valueDisplay:'' }}<br />
        <span [class]="position.positionResponse.type == constantsProxy.OrderType.Buy ? 'green-label' : 'red-label'">
          {{position.positionResponse.type == constantsProxy.OrderType.Buy ? "BUYING" : "SELLING"}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.totalVirtual">VALUE</th>
      <td mat-cell *matCellDef="let position">
        {{ position.positionResponse.totalVirtual | valueDisplay }}
      </td>
    </ng-container>

    <ng-container matColumnDef="avgOpen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.averagePrice">AVG. OPEN</th>
      <td mat-cell *matCellDef="let position">
        {{ position.positionResponse.averagePrice | valueDisplay }}
      </td>
    </ng-container>

    <ng-container matColumnDef="PL">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="positionResponse.averageReturn">P/L</th>
      <td mat-cell *matCellDef="let position">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
          <percentage-display [value]="position.positionResponse.averageReturn"></percentage-display>
          <span [class]=" position.positionResponse.totalProfit >= 0 ? 'green-label' : 'red-label'">
              {{ position.positionResponse.totalProfit | valueDisplay }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="close">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let position">
        <button matRipple *ngIf="isOwner" [promiseBtn]="promise" (click)="closeAllOpenPositions(position.assetId, position.assetCode)">Close all {{position.assetCode}} positions</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="position-detail" *ngIf="expandedAssetId === element.assetId || assetId > 0">
          <orders-table #Orders [assetId]="expandedAssetId" [userId]="userId" [orders]="orders" (updated)="refresh($event)"></orders-table>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="footerRow">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            Start trading and check the open positions here!
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"
      class="position-row"
      [class.expanded-row]="expandedAssetId === element.assetId || assetId > 0"
      (click)="onAssetClick(element.assetId)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    <tr [class.hidden]="!initialized || (dataSource && dataSource.data && dataSource.data.length > 0)" mat-footer-row *matFooterRowDef="['footerRow']" class="footer-row"></tr>
  </table>
</div>
