
<div class="main-content">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginClick()" fxLayoutAlign="space-evenly center">
      <div class="blue-box" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
          <div fxLayout="row" fxLayoutGap="20px">
            
              <input matInput placeholder="Email" [(ngModel)]="loginRequest.email" formControlName="email" type="text"
                autocomplete="username email" />
            
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
              <input matInput placeholder="Password" [(ngModel)]="loginRequest.password" type="password" formControlName="password" autocomplete="current-password"/>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <button type="submit" class="primary-button bold login" >
              LOGIN
            </button>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <a routerLink="/forgot-password" class="element-margin-top">Forgot my password</a>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <a routerLink="/register" class="element-margin-top">Don't have an account?</a>
          </div>
        </div>
      </div>
    </form>
  </div>