<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <inheritance-input #Email [options]="getEmailOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="loginRequest.email" (onChange)="loginRequest.email = $event"></inheritance-input>
  <inheritance-input #Password [options]="getPasswordOptions()" ngClass.xs="input-modal-mobile" ngClass.sm="input-modal-tablet" ngClass.gt-sm="input-modal-web"
    [value]="loginRequest.password" (onChange)="loginRequest.password = $event"></inheritance-input>
</div>
<div class="lastDiv" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <recaptcha #RecaptchaComponent (onCaptchaResponse)="onCaptchaResponse($event)"></recaptcha>
  <button class="btn-modal" ngClass.xs="btn-modal-mobile" ngClass.sm="btn-modal-tablet" ngClass.gt-sm="btn-modal-web" mat-flat-button (click)="onLoginClick()" [promiseBtn]="promise">Sign In</button>
  <a class="modal-link" (click)="onForgotPasswordClick()">Forgot my password</a>
  <a class="modal-link" (click)="onRegisterClick()">Don't have an account?</a>
  <button mat-flat-button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
  <button mat-flat-button (click)="socialSignIn('google')">Signin in with Google</button> 
</div>
