/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~font-awesome/css/font-awesome.css';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme.css';
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~owl.carousel/dist/assets/owl.theme.default.css";

@font-face {
  font-family: "HelveticaNeueBold";
  src: url('/assets/fonts/HelveticaNeueBold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueBold.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueBold.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('/assets/fonts/HelveticaNeueMedium.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/HelveticaNeueMedium.woff2') format('woff2'), /* Super Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.woff") format("woff"), /* Pretty Modern Browsers */
  url("/assets/fonts/HelveticaNeueMedium.ttf") format("truetype"), /* Safari, Android, iOS */
  url('/assets/fonts/HelveticaNeueMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-UltraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/fonts/Gilroy-Black.ttf");
  font-weight: 900;
}

html {
  min-height:100%;
}

body {
  background-color: #151515;
  min-height:100%;
  padding-top: 83px;
}

body, p, span, input, textarea, select, button, div {
  font-family: 'Gilroy';
  margin: 0px;
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

@-webkit-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Angular promise button styles*/
@-o-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Styles for old versions of IE */
button .btn-spinner,
div .btn-spinner {
  font-family: sans-serif;
  font-weight: 100;
  -webkit-animation: three-quarters 1250ms infinite linear;
  -moz-animation: three-quarters 1250ms infinite linear;
  -ms-animation: three-quarters 1250ms infinite linear;
  -o-animation: three-quarters 1250ms infinite linear;
  animation: three-quarters 1250ms infinite linear;
  border: 3px solid #2196F3;
  border-right-color: transparent;
  border-radius: 100%;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
}

  button .btn-spinner:not(:required),
  div .btn-spinner:not(:required) {
    margin-left: -22px;
    opacity: 0;
    transition: 0.4s margin ease-out, 0.2s opacity ease-out;
  }

button.is-loading .btn-spinner,
div.is-loading .btn-spinner {
  transition: 0.2s margin ease-in, 0.4s opacity ease-in;
  margin-left: 5px;
  opacity: 1;
}
/*Angular promise button styles*/

.section-title{
  text-transform: uppercase;
  font-size: 40.5px;
  text-align: center;
  color: #FFFFFF;
  margin-top:36px;
  font-weight: 500;
}

@media(max-width:959px){
  .section-title{
    font-size: 20px;
  }
}

.section-title.inverted{
  color: #212121;
}

.section-subtitle{
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 9px;
  margin-bottom: 35px;
}

.spacer {
  flex: 1 1 auto;
}

.fullscreen-modal {
  margin-left: auto;
  margin: auto;
  opacity: 0.95;
}

.input-modal-mobile {
  width: 95%;
}

.input-modal-tablet {
  width: 65%;
}

.input-modal-web {
  width: 30%;
}

.input-modal{
  max-width: 265px;
  width: calc(100% - 20px);
}

.btn-modal {
  margin-top: 20px;
}


.modal-link {
  text-decoration: underline;
  cursor: pointer;
  color: #126efd;
}

.simple-notification-wrapper {
  z-index: 10000 !important;
}

a {
  cursor: pointer;
}

.container-field {
  width: 100%;
  margin: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

input:read-only {
  color:rgba(0,0,0,.38);
}

textarea:read-only {
  color: rgba(0,0,0,.38);
}

.global-container{
  margin: 0 auto;
  width:calc(100% - 40px);
}

@media(min-width: 960px){
  .global-container{
    width: 1168px;
  }
}

@media(min-width: 960px){
  .global-container-min{
    width:100%;
    min-width: 1168px;
  }
}

.mat-flat-button.mat-primary {
  background-color: #126efd;
  border: none;
  height: 50px;
  max-width: 250px;
  min-width: 168px;
}

.mat-flat-button.mat-primary.large{
  max-width: 265px;
  width: calc(100% - 20px);
}


.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.owl-theme .owl-dots .owl-dot span{
  border: 1px solid white;
  background: unset;
}

.inverted .owl-theme .owl-dots .owl-dot span{
  border: 1px solid #151515;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}

.inverted .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #151515;
}

.inverted{
  background-color: #f7f7f7;
}

.landing-logo {
  height: 47px;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: -5px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.landing-logo:focus {
  outline: none;
}

.access-button{
  margin: 38px auto;
  max-width: 168px;
  height: 50px;
  line-height: 50px;
  font-size: 14.5px;
  font-weight: 500;
}

.action-button{
  margin:unset;
  height: 50px;
  line-height: 50px;
  min-width: 168px;
  padding-left: 10px;
  padding-right: 10px;
}

.action-button-sm{
  margin:unset;
  padding-left: 10px;
  padding-right: 10px;
  width: 74px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  font-weight: 500;
}

.white-button{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-image: none;
  color: white;
}

.blue-button{
  border-style: solid;
  border-width: 1px;
  -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#07d1ff), to(#126efd)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#07d1ff, #126efd) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#07d1ff, #126efd) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#07d1ff, #126efd) 1 100%;
    border-image:
      linear-gradient(to top, #07d1ff 1%, #126efd) 1 100%;
  border-image-slice: 1;
  color: #07d1ff;
}

.white-button,
.blue-button{  
  text-align: center;
  cursor: pointer;
}

.circle {
  fill: none;
  stroke-width: 2px;
  animation: progress 1s ease-out forwards;
}

.circular-chart.black .circle {
  stroke: #333333;
}

.circular-chart.blue .circle {
  stroke: #2c8b8b;
}

.asset-icon,
.asset-icon img{
    width: 50px;
    height: 50px;
    background-color: #e6e6e6;
    border-radius: 25px;
}

.social-media-button {
  border: solid 1px rgba(0,0,0,.87);
  color: rgba(0,0,0,.87);
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 20px);
  max-width: 265px;
  height: 50px;
  justify-content: flex-start;
}

.social-media-button span {
  margin: auto;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.social-media-button fa-icon {
  margin: auto;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.truncate{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.assets-table{
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.assets-table .mat-cell{
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.assets-table th{
  background-color: #151515;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.assets-table th.mat-header-cell{
  text-align: center;
}

.assets-table .mat-header-row{
  height: 40px !important;
}

.assets-table .mat-column-position div{
  width: 99px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin: auto;
}

.assets-table .mat-column-value div{
  font-size: 16px;
}
/* 
.assets-table .mat-column-position div {
  width: 80px;
  margin: auto;
  height: 22px;
  line-height: 22px;
} */


.expert-rating{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0;
}

.expert-rating .br{
  margin: 0 0 !important;
}

.expert-rating .br-fontawesome-o .br-unit{
  margin-right: unset !important; 
  font-size: unset !important;
  height: unset !important;
  width: unset !important;
  margin: 0 2px;
}

.expert-rating .br-fontawesome-o .br-unit:after{
  color:#343434;
}

.expert-rating .br-fontawesome-o .br-fraction:after,
.expert-rating .br-fontawesome-o .br-selected:after{
  color:#ce9355;
}

.pagination-link{
  font-size: 14.5px;
  font-weight: 500;
  text-align: center;
  color: #07d1ff;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  border: none;
}

.pagination-link.is-loading,
.follow-link.is-loading,
.button.is-loading {
  pointer-events: none !important;
  cursor: default !important;
}

.pagination-link.is-loading,
.follow-link.is-loading
{
  color: gray !important;
  text-decoration: none !important;
}

.text-center{
  text-align: center;
}

.links-container{
  font-size: 12px;
  font-style: italic;
}

.subtitle{
  max-width: 350px;
  width: calc(100% - 20px);
  text-align: center;
  font-size: 12px;
  margin-top: 18px;
}