<mat-tab-group class="top-tab-group border-tabs">
  <mat-tab> 
      <ng-template mat-tab-label>
        <span class="market-label">MARKETS</span>
        <fa-icon *ngIf="!listOnlyWatchlist" (click)="toggleMarketsWatchlist()" [icon]="['far','star']"></fa-icon>
        <fa-icon *ngIf="listOnlyWatchlist" (click)="toggleMarketsWatchlist()" icon="star"></fa-icon></ng-template>
      <div>CONTEUDO 1</div>
  </mat-tab>
  <mat-tab>  
      <ng-template mat-tab-label>PORTFOLIO</ng-template>
      <div>CONTEUDO 2</div>
  </mat-tab>
</mat-tab-group>
<mat-tab-group class="bottom-tab-group border-tabs">
  <mat-tab> 
      <ng-template mat-tab-label>SIGNALS</ng-template>
      <div>CONTEUDO 1</div>
  </mat-tab>
  <mat-tab>  
      <ng-template mat-tab-label>TRENDING ASSETS</ng-template>
      <div>CONTEUDO 2</div>
  </mat-tab>
</mat-tab-group>