.performance-tab-container {
    background-color: #262626;
}

@media(max-width:599px){
    .daily-performance-chart {
        width: calc(100% - 5px) !important;
    }
}
.daily-performance-chart {
    display: block;
    height: 260px;
    width: calc(100% - 260px);
}

perfomance-closed-positions, 
perfomance-open-postions {
    height: calc(100% - 260px);
}



:host ::ng-deep .mat-cell{
    padding: 0 0;
}


@media(min-width:600px){
    :host ::ng-deep .mat-column-market{
        width: 184px;
    }

    :host ::ng-deep .chart-title{
        font-size: 15px;
        font-weight: 500;
    }
}