<div class="global-container" *ngIf="assets">
  <div class="section-title inverted">
    Trending Assets
  </div>
  <div class="assets-list">
    <trending-asset-card fxHide.lt-md *ngFor="let asset of assets" class="asset-card" [asset]="asset"></trending-asset-card>
    <owl-carousel fxHide.gt-sm *ngIf="assets"
      [options]="{items: 1, dots: true, navigation: false}"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <trending-asset-card *ngFor="let asset of assets" class="asset-card" [asset]="asset"></trending-asset-card>
    </owl-carousel>
  </div>
</div>