:host{
    display: block;
}

.section-title{
    padding-top: 84px;
    padding-bottom: 56px;
}

.assets-list{
    text-align: center;
}

a {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}

.separator{
    width: calc(100% - 190px);
    margin:auto;
    margin-top:36px;
    min-width: 420px;
    border: solid 1px #3b3b3b;
    height: 1px;
}

.blocked-content {
    height: 300px;
    position: absolute;
    z-index: 2;
    background-color: rgb(255,255,255,0.6);
    max-width: unset !important;
}