:host{
    background-color: #f7f7f7;
    display: block;
}

.section-title{
    padding-top: 84px;
    padding-bottom: 56px;
}

.assets-list{
    text-align: center;
}


.blocked-content{
    height: 300px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: rgb(255,255,255,0.6);
}

.blur{
    filter:blur(4px);
}

a{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    margin-top: 16px;
}

.separator{
    width: calc(100% - 190px);
    margin:auto;
    margin-top:36px;
    min-width: 420px;
    border: solid 0.3px #3b3b3b;
    height: 1px;
}

.lock-wrapper{
    width: 84px;
    height: 84px;
    border: solid 1px #ffffff;
    border-radius: 44px;
    color: #ffffff;
}

.lock-wrapper fa-icon{
    margin-top: 26px;
    margin-bottom: 26px;
}