.div-data {
    padding: 25px;
    width: 370px;
    border: solid 1px #363636;
    margin: auto;
    font-size: 12px;
    font-weight: 300;
    color: #1a1a1a;
}

.btn-option {
    color: rgba(0, 0, 0, 0.9); 
    line-height: 50px;
    width: 160px;
}

.btn-option[disabled],
.btn-option[disabled]:hover{
    background-color: gray;
    cursor: default;
}

.btn-buy {
    background-color: rgba(62, 209, 66, 0.95);
    color: white;
}

.btn-buy:hover {
    background-color: rgba(62, 209, 66, 0.6);
}

.btn-sell {
    background-color: rgba(209, 62, 62, 1);
    color: white;
}

.btn-sell:hover {
    background-color: rgba(209, 62, 62, 0.6);
}

.btn-close {
    background-color: rgba(153, 153, 153, 1);   
    color: white;
}

.btn-close:hover {
    background-color: rgba(153, 153, 153, 0.6);  
}

.advice-parameters {
    padding-top: 25px;
    width: 100%;
}

.btn-not-selected {
    opacity: 0.25;
}