<div class="feed-card" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="30px" fxLayoutGap.lt-md="10px">
  <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="10px">
    <div class="feed-picture" (click)="goToExpertDetails()" >
      <img [src]="getAdvisorImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'" />
      <div class="expert-ranking">
        {{adviceFeed.advice.advisorRanking}}
      </div>
    </div>
    <div fxLayout="column" class="feed-name-column" (click)="goToExpertDetails()" fxLayoutAlign.gt-xs="center start" fxLayoutAlign.lt-sm="center center" >
      <div fxLayout="row" class="tag blue">
        <div class="tag-description">Expert</div>
        <div class="after-triangle"></div>
      </div>
      <div class="feed-name truncate" title="{{adviceFeed.advice.advisorName}}">
        {{adviceFeed.advice.advisorName}}
      </div>
      <div class="expert-rating">
        <bar-rating [theme]="'fontawesome-o'" [readOnly]="'true'" [rate]="adviceFeed.advice.advisorRating" [title]="adviceFeed.advice.advisorRating | number: '1.2-2'"></bar-rating>
      </div>
    </div>
  </div>
  <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="10px">
    <div fxLayout="column" (click)="goToAssetDetails()" class="asset-column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutAlign.gt-xs="start center" fxLayoutAlign.lt-sm="center center" fxLayoutGap="10px">
        <div fxHide.lt-sm class="asset-icon">
          <img [src]="getAssetImgUrl()" onerror="this.style.display='none'" onload="this.style.display='unset'"/>
        </div>
        <div class="asset-code-name" fxLayout="column" fxLayoutAlign.gt-xs="center start" fxLayoutAlign.lt-sm="center center">
          <div class="table-asset-code">
            {{adviceFeed.assetCode}}
          </div>
          <span class="asset-name truncate">{{adviceFeed.assetName}}</span>
        </div>
      </div>  
      <div class="follow-btn white-button action-button-sm" *ngIf="adviceFeed.followingAsset" [promiseBtn]="promise" (click)="onUnfollowClick($event)">
        Unfollow
      </div>
      <div class="follow-btn blue-button action-button-sm" *ngIf="!adviceFeed.followingAsset" [promiseBtn]="promise" (click)="onFollowClick($event)">
        Follow
      </div>
    </div>
    <div fxHide.lt-md class="feed-time" title="{{adviceFeed.date | date: 'medium'}}">
      {{adviceFeed.date | timeAgo}}
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" class="advice-mode-box" [style.background-color]="getAdviceTypeColor()" fxLayoutAlign="center center">
        <div class="advice-type">
          {{getAdviceTypeDescription()}}
        </div>
        at price {{adviceFeed.advice.assetValueAtAdviceTime | valueDisplay}}
      </div>
      <span class="advice-parameters" *ngIf="adviceFeed.advice.targetPrice">
        Target value: {{adviceFeed.advice.targetPrice | valueDisplay}}
      </span>
      <span class="advice-parameters" *ngIf="adviceFeed.advice.stopLoss">
        Stop loss: {{adviceFeed.advice.stopLoss | valueDisplay}}
      </span>
      <span class="advice-parameters" *ngIf="getCloseReasonDescription()">
        Triggered by: {{getCloseReasonDescription()}}
      </span>
      <span fxLayoutAlign="center center" fxHide.gt-sm>{{adviceFeed.date | timeAgo}}</span>
    </div>
  </div>
</div>