.expert-ranking{
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 19px;
    background-color: #126efd;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    bottom: 0px;
    position: absolute;
    font-weight: 500;
}


.advice-mode-box{
    width: 168px;
    height: 51px;
    text-align: center;
    font-size: 14.5px;
}

.advice-type{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    
}

.advice-parameters {
    font-size: 10px;
    font-style: italic;
    padding-top: 3px;
}
