:host ::ng-deep .mat-tab-label-active {
    background-color: #262626;
    border-top: 1px solid #4c4c4c;
    border-left: 1px solid #4c4c4c;
    border-right: 1px solid #4c4c4c;
    border-bottom: none !important;
}

:host ::ng-deep .mat-tab-label {
    border-bottom: 1px solid #4c4c4c;
    width: 50%;
}

:host ::ng-deep .mat-tab-label-container .mat-ink-bar {
    display: none !important;
}

:host ::ng-deep .mat-tab-header {
    border-bottom: none !important;
}

:host ::ng-deep .mat-tab-label-content {
    color: #ffffff !important;
    font-size: 14px !important;
    letter-spacing: 0.4px !important;
}

:host ::ng-deep .mat-tab-body-wrapper {
    background-color: #262626;
    border-bottom: 1px solid #4c4c4c;
    border-left: 1px solid #4c4c4c;
    border-right: 1px solid #4c4c4c;
}

.open-position-tab-group {
    width: 100%;
}